@import '../../../../../statics/core/sass/admin_app_base';

$totalColumns: 12;

.my-space-content {

    display: flex;
    flex: 0 1 auto;
    flex-wrap: wrap;
    width: 1920px;
    padding: 0px pxToRem(70) 0px pxToRem(70);
    max-width: 100%;

    >[class^="column"] {
        display: block;
        width: max-content;
        max-width: 100%;
        padding: 10px 15px;
    }

    @for $i from 1 through $totalColumns {
        >.column-#{$i} {
            width: 100%/$totalColumns*$i;
        }

        >.column-medium-#{$i} {
            width: 100%/$totalColumns*$i;

            @media screen and (max-width: $rsLarge2) {
                width: 100%;
            }
        }
    }

    .news-content {

        min-height: 550px;
        overflow-x: hidden;
        overflow-y: auto;
        background-color: white;
        box-shadow: 0px 1px 6px rgba(112, 112, 112, 0.149);
        padding: pxToRem(50) pxToRem(30);
        border-radius: 15px;

        >* {
            &:not(:last-child) {
                margin-bottom: 1rem;
            }
        }

        >.title {
            font-family: $fontPublicSans;
            font-weight: $fwSemiBold;
            font-size: pxToRem(30);
            line-height: pxToRem(30+5);
            text-align: center;
            color: var(--second-brand-color);
            margin-bottom: 2rem;
        }

        >.content {
            display: flex;
            flex: 0 0 auto;
            flex-wrap: wrap;
            justify-content: center;
            row-gap: 15px;
            column-gap: 15px;
        }

        >.footer {
            margin-top: 3rem;
            text-align: center;
        }

        .news-card {
            background-color: white;
            border: 1px solid rgba(112, 112, 112, 0.149);
            border-radius: 8px;
            padding: 1rem 1.5rem;
            width: 48%;
            min-width: 245px;
            max-width: 100%;

            >* {
                &:not(:last-child) {
                    margin-bottom: 1rem;
                }
            }

            >.header {
                display: grid;
                grid-template-columns: auto 45px;
                justify-content: space-between;
                row-gap: 15px;
                font-family: $fontPublicSans;

                >.text {
                    >.title {
                        font-weight: $fwMedium;
                        font-size: pxToRem(21);
                        line-height: pxToRem(21+5);
                        color: var(--category-color);
                    }

                    >.meta {
                        font-weight: $fwRegular;
                        font-size: pxToRem(14);
                        line-height: pxToRem(14+5);
                        color: #707070;

                        >* {
                            display: block;
                        }
                    }
                }

                >.image {}
            }

            >.content {
                color: #1B1C1D;
                font-weight: $fwRegular;
                font-size: pxToRem(16);
                line-height: pxToRem(16+5);
            }

            >.footer {}

            &.finished {

                background: #70707026;

                >.header {

                    >.text {
                        >.title {
                            color: #1B1C1D;
                        }
                    }

                    >.image {
                        filter: invert(44%) sepia(14%) saturate(17%) hue-rotate(321deg) brightness(95%) contrast(92%);
                    }
                }
            }
        }

        >.non-results-content {

            display: none;
            font-family: $fontPublicSans;
            font-weight: $fwMedium;

            >.title {
                font-size: pxToRem(146);
                line-height: pxToRem(146+5);
                text-align: center;
                color: var(--color-text-over-main-brand-color);
                margin-bottom: 2rem;
            }

            >.text {
                font-size: pxToRem(29);
                line-height: pxToRem(29+5);
                text-align: center;
                color: var(--color-text-over-main-brand-color);
                width: 380px;
                max-width: 100%;
                margin: 0 auto;
            }

            .image {
                width: 380px;
                max-width: 100%;
                margin: 3rem auto 2rem auto;
            }
        }

        &.non-results {
            overflow: hidden;

            >.non-results-content {
                display: block;
            }
        }

        &.gradient {
            background: transparent linear-gradient(180deg, var(--second-brand-color) 0%, var(--main-brand-color) 100%) 0% 0% no-repeat padding-box;
        }

    }

    .direct-access {

        display: flex;
        flex: 0 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        width: 800px;
        max-width: 100%;
        gap: 1.2rem;

        .item {

            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            align-items: center;
            width: 330px;
            max-width: 100%;
            min-height: 190px;
            border-radius: 20px;
            background-position: center center;
            background-repeat: no-repeat;
            background-size: contain;
            color: white;
            text-decoration: none !important;

            &.tall {
                min-height: 400px;
            }

            &.bg-1 {
                background-color: var(--main-brand-color);
            }

            &.bg-2 {
                background-color: var(--second-brand-color);
            }

            &.border-bg {
                background-size: 65%;
                background-position: bottom right;
            }

            &.border-bg-2 {
                background-size: 65%;
                background-position: bottom right;
            }

            .number {
                font-family: $fontPublicSans;
                font-weight: $fwBold;
                font-size: pxToRem(150);
                line-height: pxToRem(150+5);
                text-align: center;
            }

            .title {
                font-family: $fontPublicSans;
                font-weight: $fwBold;
                font-size: pxToRem(32);
                line-height: pxToRem(32+5);
                text-shadow: 1px 5px 20px #000000A6;
            }

            .subtitle {
                font-family: $fontPublicSans;
                font-weight: $fwRegular;
                font-size: pxToRem(32);
                line-height: pxToRem(32+5);
                text-shadow: 1px 5px 20px #000000A6;
            }

        }

        &.size1 {
            .item {
                width: 300px;
            }
        }

        &.size2 {
            .item {
                width: 280px;

                .number {
                    font-size: pxToRem(130);
                    line-height: pxToRem(130+5);
                }

                .title,
                .subtitle {
                    font-size: pxToRem(28);
                    line-height: pxToRem(28+5);
                }
            }
        }

        &.size3 {
            .item {
                width: 260px;

                .number {
                    font-size: pxToRem(110);
                    line-height: pxToRem(110+5);
                }

                .title,
                .subtitle {
                    font-size: pxToRem(24);
                    line-height: pxToRem(24+5);
                }
            }
        }

    }

}

.ui.modal.modal-news-content {

    >.header {

        display: grid;
        grid-template-columns: auto 45px;
        justify-content: flex-start;
        column-gap: 20px;
        row-gap: 15px;
        margin: 0 auto;
        width: max-content;
        max-width: 100%;
        font-family: $fontPublicSans;

        >.text {

            >.title {
                font-weight: $fwMedium;
                font-size: pxToRem(21);
                line-height: pxToRem(21+5);
                color: var(--category-color);
            }

            >.meta {
                font-weight: $fwRegular;
                font-size: pxToRem(14);
                line-height: pxToRem(14+5);
                color: #707070;

                >* {
                    display: block;
                }
            }
        }

        >.image {
            align-self: center;
        }
    }

    >.content {
        color: #1B1C1D;
        font-weight: $fwRegular;
        font-size: pxToRem(16);
        line-height: pxToRem(16+5);
    }
}

.ui.form {

    .field {

        &.disabled.special-disabled,
        &.special-disabled {

            &,
            label,
            .dropdown,
            .search,
            .ui.checkbox input~label {
                opacity: 1;
            }
        }

    }

}

@media screen and (max-width: $rsXLarge) {}

@media screen and (max-width: $rsLarge) {}

@media screen and (max-width: $rsLarge2) {}

@media screen and (max-width: $rsLarge3) {}

@media screen and (max-width: $rsTablet) {
    .my-space-content {
        padding: 0px pxToRem(10) 0px pxToRem(10);
    }
}

.rs-tablet {

    &.news-content {
        .news-card {
            width: 100%;

            >.header {
                column-gap: 15px;

                >.image {
                    align-self: center;
                }
            }

        }

        >.non-results-content {

            >.title {
                font-size: pxToRem(80);
                line-height: pxToRem(80+5);
            }

            >.text {
                font-size: pxToRem(24);
                line-height: pxToRem(24+5);
            }
        }
    }

}
