@mixin simple-content-card {

    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;

    >.item,
    >.card {
        @include simple-card;
        margin: pxToRem(16);
    }

    @media screen and (min-width: $rsMobile) {

        max-width: 1200px;

    }

    @media screen and (min-width: $rsTablet) {

        max-width: 1200px;

        &.horizontal {
            display: flex;
            flex: 0 0 auto;
            flex-wrap: wrap;
            max-width: 1920px;
        }

    }

}

@mixin special-content-card {

    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 0 auto;

    >.item {
        @include special-card;
        margin-left: pxToRem(16);
        margin-right: pxToRem(16);
    }

    @media screen and (min-width: $rsMobile) {

        max-width: 1440px;

    }

}

@mixin simple-card {

    display: block;
    text-decoration: none;
    background-color: $white;
    box-shadow: 0px 9px 20px rgba(0, 0, 0, 0.16);
    max-width: 100%;
    position: relative;

    >.link-item {
        position: absolute;
        top: 0px;
        left: 0px;
        display: block;
        width: 100%;
        height: 100%;
        border: none;
        outline: none;
    }

    .element-link {
        outline: none;
        border: none;
        text-decoration: none;
    }

    >.image {

        text-align: center;

        >img {
            max-width: 100%;
        }

    }

    >.content {

        padding: pxToRem(15) pxToRem(15);

        >*:not(:last-child) {
            padding-bottom: pxToRem(10);
        }

        >.title {
            font-family: $fontAbhaya;
            font-weight: $fwExtraBold;
            font-size: pxToRem(20);
            line-height: pxToRem(20);
            color: $blue1;
        }

        >.meta {
            font-size: pxToRem(13);
            line-height: pxToRem(13);
            text-transform: uppercase;
            color: $blue2;
        }

        >.description {
            font-size: pxToRem(16);
            line-height: pxToRem(20);
            color: $gray4;
            max-height: 300px;
            overflow-y: auto;
        }


    }

    @media screen and (min-width: $rsMobile) {

        max-width: 352px;

    }

    @media screen and (min-width: $rsTablet) {

        >.content {

            padding: pxToRem(25) pxToRem(30);

            >.description {
                min-height: 250px;
            }


        }

        &:not(.small) {
            min-height: 500px;
        }

        &.small {
            max-width: 300px;
        }

        >.content {

            >.title {
                font-size: pxToRem(30);
                line-height: pxToRem(30);
            }

            >.meta {
                font-size: pxToRem(15);
                line-height: pxToRem(15);
            }

            >.description {
                font-size: pxToRem(18);
                line-height: pxToRem(25);
            }

        }

        &.horizontal {

            display: flex;
            flex: 0 0 auto;
            flex-wrap: wrap;
            align-items: center;
            max-width: 100%;
            min-height: initial;

            >.image {
                padding: 10px;
                width: 250px;
            }

            >.content {

                max-width: 480px;
                padding: pxToRem(10) pxToRem(10);

                >.title {
                    font-size: pxToRem(19);
                    line-height: pxToRem(19);
                }

                >.meta {
                    font-size: pxToRem(12);
                    line-height: pxToRem(12);
                }

                >.description {
                    font-size: pxToRem(15);
                    line-height: pxToRem(18);
                    height: initial;
                    max-height: initial;
                    min-height: initial;
                }


            }

        }

    }

    @media screen and (min-width: $rsMedium) {

        &.horizontal {

            >.image {
                padding: 15px;
                width: 400px;
            }

            >.content {

                max-width: 800px;
                padding: pxToRem(15) pxToRem(10);

                >.title {
                    font-size: pxToRem(30);
                    line-height: pxToRem(30);
                }

                >.meta {
                    font-size: pxToRem(15);
                    line-height: pxToRem(15);
                }

                >.description {
                    font-size: pxToRem(18);
                    line-height: pxToRem(25);
                }

            }

        }

    }

}

@mixin special-card {

    @include simple-card;
    $imageSize: 240;
    $imageSizeDesktop: 300;
    position: relative;
    margin-top: unquote((($imageSize/2)+20) + 'px');
    padding-top: unquote((($imageSize/2)+20) + 'px');

    >.image {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translate(-50%, -50%);
        width: unquote($imageSize + 'px');
        height: unquote($imageSize + 'px');
        border-radius: 100%;
        overflow: hidden;
        margin: 0 auto;
    }

    >.content {

        padding-top: 0px;

        >*:not(:last-child) {
            padding-bottom: pxToRem(2);
        }

        >.title {
            color: $blue;
            font-size: pxToRem(25);
            line-height: pxToRem(25);
            text-align: center;
        }

        >.meta {
            font-family: $fontAbhaya;
            font-weight: $fwExtraBold;
            color: $blue;
            font-size: pxToRem(20);
            line-height: pxToRem(20);
            text-align: center;
            text-transform: capitalize;
        }

        >.description {
            margin-top: pxToRem(15);
        }


    }

    @media screen and (min-width: $rsMobile) {

        min-height: 400px;
        width: 400px;
        max-width: 400px;

    }

    @media screen and (min-width: $rsTablet) {

        margin-top: unquote((($imageSizeDesktop/2)+60) + 'px');
        padding-top: unquote((($imageSizeDesktop/2)+20) + 'px');

        >.image {
            width: unquote($imageSizeDesktop + 'px');
            height: unquote($imageSizeDesktop + 'px');
        }

        >.content {

            >.title {
                font-size: pxToRem(38);
                line-height: pxToRem(38);
            }

            >.meta {
                font-size: pxToRem(28);
                line-height: pxToRem(28);
            }

            >.description {
                margin-top: pxToRem(14.5);
            }

        }


    }


}
