@mixin simple-slideshow {

    opacity: 0;
    position: relative;
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 0px;
    transition: opacity 0.5s ease;

    &.text-center * {
        text-align: center !important;
    }

    .item {
        position: absolute;
        display: block;
        visibility: hidden;
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        outline: none;
        border: none;

        &.active {
            display: block;
            visibility: visible;
            position: relative;
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        img {
            width: auto;
            max-width: 100%;
            margin: 0px;
            padding: 0px;
            vertical-align: bottom;

            &.desktop {
                display: initial;
            }

            &.mobile {
                display: none;
            }
        }

        .caption {

            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 120px;
            overflow-y: auto;
            font-size: pxToRem(16);
            line-height: pxToRem(16);
            background-color: rgba(0, 0, 0, 0.44);
            color: white;
            margin: 0px;
            padding: pxToRem(15) pxToRem(9);

            .title {
                text-align: center;
                font-weight: bold;
                margin: 0px;
                padding: 0px;
                margin-bottom: pxToRem(8);
            }

            .text {
                text-align: justify;
                margin: 0px;
                padding: 0px;
            }

            @media screen and (min-width: $rsTablet) {

                font-size: pxToRem(18);
                line-height: pxToRem(18);
                padding: pxToRem(30) pxToRem(9);

                .title {
                    margin-bottom: pxToRem(10);
                }

            }

        }


        @media screen and (max-width:$rsMedium) {

            img {
                &.mobile {
                    display: initial
                }

                &.desktop {
                    display: none;
                }
            }

        }

        @media screen and (max-width: $rsTablet) {
            img {
                object-fit: cover;
                height: 300px;
            }
        }
    }

    .navigation-dots {

        display: none;
        position: absolute;
        top: 10px;
        left: 50%;
        z-index: 100;
        transform: translateX(-50%);

        .dot {
            display: inline-block;
            width: unquote($slideShowDotSize + 'px');
            height: unquote($slideShowDotSize + 'px');
            margin: 0px 5px 0px 5px;
            border-radius: 100%;
            background-color: transparent;
            border: $primaryColor 0.5px solid;
            cursor: pointer;
            opacity: 0.2;
            transition: all 0.5s ease;

            &.active {
                background-color: $primaryColor;
            }

            &:hover {
                opacity: 1;
            }
        }

    }

    .prev,
    .next {
        display: none;
        position: absolute;
        top: 5px;
        z-index: 100;
        width: auto;
        padding: 5px;
        font-size: unquote($slideShowArrowsFontSize + 'px');
        line-height: unquote($slideShowArrowsFontSize + 'px');
        font-weight: bold;
        color: white;
        transition: all 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        opacity: 0.3;
        cursor: pointer;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;

    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 1;
    }

    @media screen and (min-width:$rsTablet) {

        .navigation-dots {

            .dot {
                width: unquote($slideShowDotSizeDesktop + 'px');
                height: unquote($slideShowDotSizeDesktop + 'px');
                opacity: 0.4;
            }

        }

        .prev,
        .next {
            top: 50%;
            transform: translateY(-50%);
            padding: 16px;
            font-size: unquote($slideShowArrowsFontSizeDesktop + 'px');
            line-height: unquote($slideShowArrowsFontSizeDesktop + 'px');
            opacity: 0.8;
        }

    }

    @-webkit-keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

}
