// Template.
@import 'template/template';

.padding-10 {
    padding: 10px;
}

.featured-sidebar-image {

    transition: all 0.5s ease;

    &:hover {
        filter: blur(2px);
    }

    a {
        text-decoration: none;
        outline: none;
        border: none;
    }

    &,
    img {
        max-width: 100%;
    }
}

$customPrefix: 'vm-';

.#{$customPrefix}global-loader {

    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);

    &.active {
        display: block;
    }

    .#{$customPrefix}box {

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 300px;
        max-width: max-content;
        max-height: max-content;


        .#{$customPrefix}loader {
            border: 16px solid _palette(border);
            border-top: 16px solid _palette(accent);
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite !important;
        }

    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}

.#{$customPrefix}content-generic-views {
    padding-top: 1rem !important;
}

.#{$customPrefix}slideshow {

    opacity: 0;
    position: relative;
    max-width: 100%;
    margin: 0px auto;
    padding: 0px 0px;
    transition: opacity 0.5s ease;

    &.text-center * {
        text-align: center !important;
    }

    .item {
        position: absolute;
        display: block;
        visibility: hidden;
        text-decoration: none;
        margin: 0px;
        padding: 0px;
        outline: none;
        border: none;

        &.active {
            display: block;
            visibility: visible;
            position: relative;
            -webkit-animation-name: fade;
            -webkit-animation-duration: 1.5s;
            animation-name: fade;
            animation-duration: 1.5s;
        }

        img {
            width: auto;
            max-width: 100%;
            margin: 0px;
            padding: 0px;
            vertical-align: bottom;
        }

        .caption {

            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            font-size: 0.9rem;
            background-color: rgba(0, 0, 0, 0.44);
            color: white;
            margin: 0px;
            padding: 5px 8px;

            .title {
                text-align: center;
                font-weight: bold;
                margin: 0px;
                padding: 0px;
                margin-bottom: 0.2rem;
            }

            .text {
                text-align: justify;
                margin: 0px;
                padding: 0px;
            }

            @media screen and (max-width: 480px) {
                font-size: 0.7rem;
            }

            @media screen and (max-width: 360px) {
                position: relative;
                bottom: 0;
                left: 0;
            }

        }
    }

    .navigation-dots {

        display: none;
        position: absolute;
        top: 10px;
        left: 50%;
        z-index: 100;
        transform: translateX(-50%);

        .dot {
            display: inline-block;
            width: 15px;
            height: 15px;
            margin: 0px 5px 0px 5px;
            border-radius: 100%;
            background-color: transparent;
            border: _palette(fg-light) 0.5px solid;
            cursor: pointer;
            opacity: 0.5;
            transition: all 0.5s ease;

            &.active {
                background-color: _palette(fg-light);
            }

            &:hover {
                opacity: 1;
            }
        }

    }

    .prev,
    .next {
        display: none;
        position: absolute;
        top: 50%;
        z-index: 100;
        transform: translateY(-50%);
        width: auto;
        padding: 16px;
        font-size: 1.3rem;
        font-weight: bold;
        color: white;
        transition: all 0.6s ease;
        border-radius: 0 3px 3px 0;
        user-select: none;
        opacity: 0.5;
        cursor: pointer;
    }

    .prev {
        left: 0;
    }

    .next {
        right: 0;
        border-radius: 3px 0 0 3px;

    }

    .prev:hover,
    .next:hover {
        background-color: rgba(0, 0, 0, 0.8);
        opacity: 1;
    }


    @-webkit-keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

    @keyframes fade {
        from {
            opacity: .4
        }

        to {
            opacity: 1
        }
    }

}
