//Template por defecto (se puede quitar de no usarse)
@import 'default-template.scss';

//Genéricos útiles para cualquier proyecto
@import 'components/components';

.post-content {

    figure {

        &.image {

            display: block;
            max-width: 100%;

            &.image-style-align-center {
                margin-left: auto;
                margin-right: auto;                
            }

        }

    }

    img {
        max-width: 100%;
    }

    a {

        &::before,
        &::after {
            content: ' ';
        }
    }
}
