src/vendor/*
src/statics/uploads/*
src/statics/css/*
src/statics/vendor/general/css/*
src/statics/vendor/users/css/*
src/statics/vendor/avatars/css/*
src/app/logs/*.log*
src/app/logs/olds/*.log*
**/node_modules/*
**/composer.lock
**/package-lock*
**/.sass-cache
docs/code/phpdoc-cache-*
tasks/output
