@import '../../../../../statics/core/sass/includes/variables_app_base';
@import '../../../../../statics/core/sass/includes/functions_app_base';
.simple-upload-placeholder {
    max-width: 100% !important;
    width: 300px !important;
    height: 300px !important;
}
