@import 'includes/variables_app_base';

@mixin titlezone {

    position: relative;
    color: var(--main-brand-color);
    text-align: center;
    font-size: 2rem;
    margin: 0px auto;
    margin-bottom: 2rem;
    padding: 0px 25px;
    width: max-content;
    max-width: 100%;

    &.w-800 {
        width: 800px;
    }

    &.inline-block {
        display: inline-block;
    }

    &.no-center {
        margin-left: initial;
        margin-right: initial;
        text-align: initial;
    }

    &.no-padding-left {
        padding-left: 0px;
    }

    &::after {
        content: '';
        position: absolute;
        bottom: -2px;
        left: 0px;
        width: 100%;
        height: 2px;
        display: block;
        border-bottom: 1.8px solid var(--second-brand-color);
    }

    &.no-underline {
        &::after {
            display: none;
        }
    }

    &.left {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
    }

    &.small {
        font-size: 1.8rem;
        font-weight: bold;
    }

    &.subtitle {

        >.subtitle {

            position: relative;
            font-size: 1.3rem;
            color: var(--second-brand-color);
            display: block;
            margin-top: 0.5rem;

            &::before {
                content: '';
                position: absolute;
                top: -2px;
                left: 0px;
                width: 100%;
                height: 2px;
                display: block;
                border-bottom: 1.8px solid var(--second-brand-color);
            }

            &.grey {
                color: #4A494A;
            }

        }

        &::after {
            display: none;
        }
    }

    >.extra {

        position: relative;
        font-size: 1rem;
        line-height: 1;
        color: #4A494A;
        display: block;
        margin-top: 0.5rem;
        font-size: 1.3rem;
    }

    &.mark {

        font-size: 2.2rem;

        &.subtitle {
            >.subtitle {
                font-size: 1.8rem;
                font-weight: bold;

                &::before {
                    border-bottom-width: 2.5px;
                }
            }
        }

        &::after {
            border-bottom-width: 2.5px;
        }
    }

}

.ui-pcs.container-sidebar>.content {

    .container-table-standard-list {
        position: relative;
        max-width: 1920px;
        padding: 0px 0px 3rem 0px;
        overflow-x: auto;

        >* {
            max-width: 98%;
        }

    }

    .container-cards-standard-list {
        position: relative;
        max-width: 1920px;
        padding: 0px 0px 3rem 0px;

        >* {
            max-width: 98%;
        }

    }

    .container-buttons {
        >.button {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    .container-standard-options {

        justify-content: center;

        &.align-left {
            justify-content: flex-start;
        }

        &.is-child {
            .card {
                &.option {
                    margin: 4rem 0.5rem 0rem 0.5rem;
                }
            }
        }

        .card {

            &.option {

                margin: 4rem 2rem 0rem 2rem;
                text-align: center;

                >.content {

                    margin-bottom: 1rem;

                    .image-container {

                        margin-top: -4rem;
                        margin-bottom: 1.5rem;

                        >.icon {

                            position: relative;
                            display: block;
                            margin: 0 auto;
                            width: 100px;
                            height: 100px;
                            border-radius: 100%;
                            background-color: var(--main-brand-color);

                            i.icon {
                                position: absolute;
                                top: 50%;
                                left: 50%;
                                transform: translate(-50%, -50%);
                                margin: 0;
                                padding: 0;
                                font-size: 3rem;
                                color: var(--color-text-over-main-brand-color);
                            }

                        }

                        >img {
                            position: relative;
                            display: block;
                            margin: 0 auto;
                            width: 100px;
                            height: 100px;
                            border-radius: 100%;
                        }

                        >.image-bg {
                            position: relative;
                            display: block;
                            margin: 0 auto;
                            width: 100px;
                            height: 100px;
                            border-radius: 100%;
                            background-repeat: no-repeat;
                            background-size: cover;
                            background-position: center center;
                        }

                    }

                }

                &.alt {

                    >.content {

                        .header {
                            color: var(--second-brand-color);
                        }

                        .image-container {

                            >.icon {

                                background-color: var(--second-brand-color);

                                i.icon {
                                    color: var(--color-text-over-main-brand-color);
                                }

                            }

                        }

                    }

                }

                &.warning {

                    >.content {

                        .header {
                            color: #CB0000;
                        }

                        .image-container {

                            >.icon {

                                background-color: #CB0000;

                                i.icon {
                                    color: var(--color-text-over-main-brand-color);
                                }

                            }

                        }

                    }

                }

            }

        }

    }

    &.with-banner {

        padding: 2rem 5rem 8rem 10rem;

        .banner-zone {
            position: relative;
            z-index: 1;
            margin: -2rem -5rem 0rem -10rem;
            background-image: url(../../../statics/images/dashboard/banner.jpg);
            background-repeat: no-repeat;
            background-position: center center;
            background-size: cover;
            padding: 10px;
            width: 100vw;
            height: 19vw;

            &.only-color {
                background: linear-gradient(90deg, var(--second-brand-color) 0%, var(--main-brand-color) 16%);

                &.small {
                    width: 100vw;
                    height: 10vw;
                    min-height: 220px;
                }
            }
        }

        &.wide {

            padding-left: 4rem;
            padding-right: 2.5rem;

            .banner-zone {
                margin-left: -4rem;
                margin-right: -2.5rem;
            }

        }

        .info-card {
            position: relative;
            z-index: 2;
            top: 0;
            transform: translateY(-50%);

            .float-icon {
                position: absolute;
                top: 10px;
                left: 10px;
                width: auto;
                height: auto;
                padding: 5px 2px;
                border-radius: 6px;
                font-size: 35px;
                background-color: var(--main-brand-color);
                color: var(--color-text-over-main-brand-color);

                &.align-r {
                    left: initial;
                    right: 10px
                }
            }

        }

        @media (max-width: 800px) {

            &,
            &.wide {
                padding: 1rem 1rem 0rem 1rem;

                .banner-zone {
                    margin: -1rem -1rem 0rem -1rem;
                }
            }

            .info-card {
                transform: translateY(-15%);
            }

        }

        @media (max-width: 600px) {
            .banner-zone {
                height: 30vw;

                &.only-color {
                    &.small {
                        min-height: initial;
                        height: 110px;
                    }
                }
            }
        }


    }

    .title-list {
        @include titlezone();
    }

    .title-form {
        @include titlezone();
    }

    .mw-800 {
        max-width: 800px;
    }

    .mw-400 {
        max-width: 400px;
    }

    .b-center {
        margin: 0 auto;
    }

    .bg-grey,
    &.bg-grey {
        background-color: #E5E5E5;
    }

    .clearfix {

        &::before,
        &::after {
            display: block;
            content: ' ';
            clear: both;
        }
    }

    .ui {

        &.button {

            &.custom-color {

                background-color: var(--main-brand-color);
                color: var(--color-text-over-main-brand-color);

                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                }

            }

        }

        &.form {
            &.standard-form {
                max-width: 1920px;
            }
        }

        &.card {
            .content {
                >.header {
                    color: var(--main-brand-color);
                }
            }

            &.content-form-card {
                max-width: 800px;

                &.wide {
                    max-width: 1900px;
                }
            }

        }

    }
}

.ui-pcs.container-sidebar>.content.with-standard-sidebar {

    padding-left: 0px !important;
    padding-right: 0px !important;
    padding-bottom: 0px !important;
    padding-top: 0rem !important;

    .container-standard-sidebar-content {

        display: grid;
        grid-template-columns: auto;
        grid-template-rows: auto auto;
        max-height: 100vh;
        height: 100%;
        overflow: auto;

        >.sidebar {

            padding: 2rem 0.5rem 0.5rem 0.5rem;
            background-color: var(--second-brand-color);
            overflow: auto;

            >.title {
                font-size: 2rem;
                font-weight: 600;
                text-align: center;
                color: var(--color-text-over-main-brand-color);
            }

            >.content {

                padding: 2rem 0.5rem 0.5rem 0.5rem;

                p,
                span,
                div,
                article,
                a:hover,
                a:active,
                a:visited,
                a {
                    &:not(.button) {
                        color: var(--color-text-over-main-brand-color);
                    }
                }

                .ui {

                    &.accordion {

                        padding-left: 2rem;

                        >.content {
                            padding-left: 1rem;
                        }

                    }

                }

            }

        }

        >.content {
            padding: 3.5rem 1rem 1rem 1rem;
            overflow: auto;
        }

        @media (min-width: 1025px) {

            grid-template-rows: auto;
            grid-template-columns: 250px auto;

            >.sidebar {
                padding-top: 5rem;

                >.content {

                    .items-dropdowns {
                        display: block;

                        .field {
                            display: block;
                            width: 100%;
                        }
                    }

                }

            }

        }

    }

}

.ui.modal {
    .title-list {
        @include titlezone();
    }
}

.global-clearfix {

    &::before,
    &::after {
        display: block;
        content: ' ';
        clear: both;
    }
}

.ui.button {
    &.custom-main-color {

        background-color: var(--main-brand-color);
        color: var(--color-text-over-main-brand-color);

        &:hover,
        &:active,
        &:focus {
            opacity: 0.8;
        }

    }
}

.ui.dividing.header {
    color: var(--main-brand-color);
    border-color: var(--main-brand-color);
}
