.ui-pcs.container-sidebar>.content {

    @mixin titlezone {

        position: relative;
        color: var(--emphasis-color);
        text-align: center;
        font-size: 2rem;
        margin: 0px auto;
        margin-bottom: 2rem;
        padding: 0px 25px;
        width: max-content;
        max-width: 100%;

        &::after {
            content: '';
            position: absolute;
            bottom: -2px;
            left: 0px;
            width: 100%;
            height: 2px;
            display: block;
            border-bottom: 1.8px solid var(--emphasis-color);
        }

        &.small {
            font-size: 1.8rem;
            font-weight: bold;
        }

        &.subtitle {

            >.subtitle {

                position: relative;
                font-size: 1.3rem;
                color: var(--emphasis-color);
                display: block;
                margin-top: 0.5rem;

                &::before {
                    content: '';
                    position: absolute;
                    top: -2px;
                    left: 0px;
                    width: 100%;
                    height: 2px;
                    display: block;
                    border-bottom: 1.8px solid var(--emphasis-color);
                }

            }

            &::after {
                display: none;
            }
        }

    }

    .title-list {
        @include titlezone();
    }

    .title-form {
        @include titlezone();
        font-size: 1.8rem;
        margin-bottom: 3.5rem;
    }

    .container-table-standard-list {
        position: relative;
        max-width: 1920px;
        padding: 0px 0px 3rem 0px;
        overflow-x: auto;

        >* {
            max-width: 98%;
        }

    }

    .container-buttons {
        >.button {
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    .ui {

        &.button {

            &.custom-color {

                background-color: var(--emphasis-color);
                color: var(--over-emphasis-color);

                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                }

            }

        }

        &.form {
            &.standard-form {
                max-width: 1920px;
            }
        }

    }

}
