@import "admin_app_base";

.container-about-framework{
    width: 100%;
    max-width: 800px;
    margin-top: 4rem;
    margin-left: auto;
    margin-right: auto;

    p{
        font-family: $fontFamilyFirst;
        font-size: 1.2rem;
        margin-bottom: 1rem;
    }
    ul{
        font-family: $fontFamilyFirst;
        font-size: 1.2rem;
        li{
            margin-bottom: 0.8rem;
        }
    }
}
