 @import '../../fonts/lato/lato.css';
 @import '../../fonts/merriweather/merriweather.css';
 $font-family-first: 'Lato',
 'Helvetica Neue',
 Arial,
 Helvetica,
 sans-serif;
 $font-family-second: Arial,
 Helvetica,
 sans-serif;
 //Headers
 $h1-font-family:$font-family-first;
 $h2-font-family:$font-family-first;
 $h3-font-family:$font-family-first;
 $h4-font-family:$font-family-first;
 //Paragraph
 $p-font-family:$font-family-second;
 $list-font-family:$font-family-second;
 //Quote
 $q-font-family:$font-family-second;
