//Colors
$colorSecond: rgb(40, 100, 133);
$colorThird: rgb(150, 150, 150);

//Misc
$globalClassPcs: 'ui-pcs';

.#{$globalClassPcs}-global-loader {

    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);

    &.active {
        display: block;
    }

    .#{$globalClassPcs}-box {

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 300px;
        max-width: max-content;
        max-height: max-content;


        .#{$globalClassPcs}-loader {
            border: 16px solid transparentize($colorThird, 0.5);
            border-top: 16px solid $colorSecond;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite !important;
        }

    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}
