//General
$html-font-size: 14px;
//Header
$h1-font-size:2.3rem;
$h2-font-size:2rem;
$h3-font-size:1.6rem;
$h4-font-size:1.3rem;
$h1-margin: 0 0 1.5rem 0;
$h2-margin: 0 0 1rem 0;
$h3-margin: 0 0 1rem 0;
$h4-margin: 0 0 1rem 0;
//Paragraph
$p-font-size:1.15rem;
$p-line-heigth:1.8rem;
$p-margin:0.5rem 0 0.5rem 0;
$p-max-width: 58rem;
//List
$list-font-size:1.15rem;
$list-line-heigth:1.8rem;
$list-margin:1.5rem 0 1rem 0;
$list-padding:0 0 0 4rem;
$list-max-width: 54rem;
$list-item-padding:0 0 0 0;
//Quotes
$quote-font-size:1.15rem;
$quote-line-height:1.8rem;
$quote-margin-top:1.5rem;
$quote-padding: 3% 10% 0% 10%;
$quote-max-width: 54rem;
$quote-border-top: 1px solid $color-first;
$quote-border-bottom: 1px solid $color-first;
