//General
$html-font-size: 14px;
//Header
$h1-font-size:3rem;
$h2-font-size:2.8rem;
$h3-font-size:2.2rem;
$h4-font-size:2rem;
$h1-margin:0 0 2rem 0;
$h2-margin:$h1-margin;
$h3-margin:$h1-margin;
$h4-margin:$h1-margin;
//Paragraph
$p-font-size:1.2rem;
$p-line-heigth:2.2rem;
$p-margin:0.5rem 0 0.5rem 0;
$p-max-width: 58rem;
//List
$list-font-size:1.2rem;
$list-line-heigth:2rem;
$list-margin:1.5rem 0 1rem 0;
$list-padding:0 0 0 4rem;
$list-max-width: 54rem;
$list-item-padding:0 0 0 0;
//Quotes
$quote-font-size:1.2rem;
$quote-line-height:2.5rem;
$quote-margin-top:1.5rem;
$quote-padding: 3% 10% 0% 10%;
$quote-border-top: 1px solid $color-first;
$quote-border-bottom: 1px solid $color-first;
