@import 'includes/variables';
@import 'includes/fonts';
@import 'includes/functions';
@import 'includes/colors';
@import 'includes/sizes';
@import 'includes/components';

* {
    box-sizing: border-box;
}

//Generals
html,
body {
    font-size: $html-font-size;
    font-family: $font-family-first;
    font-weight: 400;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    overflow-x: hidden;
}

.#{$globalClassPcs} {
    font-size: $html-font-size;
    color: $color-fourth;
}

p,
span,
div,
strong,
small,
ul,
ol,
li,
dl,
dd,
a,
mark,
q,
blockquote h1,
h2,
h3,
h4,
h5,
h6 {

    .#{$globalClassPcs} &.text-reading,
    &.text-reading.#{$globalClassPcs} {
        font-family: $font-family-second;
        font-weight: 400;
    }
}

.dev-css-mode {

    &,
    * {
        background: rgba(255, 0, 0, .1);
        box-shadow: 0 0 0 1px red;
    }
}

//Link
a {

    .#{$globalClassPcs} &,
    &.#{$globalClassPcs} {
        display: inline-block;
        color: $color-fourth;
        transition: 0.5s all ease;

        &:hover,
        &:active,
        &:focus {
            color: $color-first;
            text-decoration: underline dotted;
        }

        &:visited {
            color: black;
        }
    }
}

//Headers
h1 {

    .#{$globalClassPcs} &,
    &.#{$globalClassPcs} {
        font-weight: 700;
        font-size: $h1-font-size;
        color: $text-header-1;
        margin: $h1-margin;
        text-transform: uppercase;
    }
}

h2 {

    .#{$globalClassPcs} &,
    &.#{$globalClassPcs} {
        font-weight: 700;
        font-size: $h2-font-size;
        color: $text-header-2;
        margin: $h2-margin;
    }
}

h3 {

    .#{$globalClassPcs} &,
    &.#{$globalClassPcs} {
        font-weight: 400;
        font-size: $h3-font-size;
        color: $text-header-3;
        margin: $h3-margin;
    }
}

h4,
h5,
h6 {

    .#{$globalClassPcs} &,
    &.#{$globalClassPcs} {
        font-weight: 700;
        font-size: $h4-font-size;
        color: $text-header-3;
        margin: $h4-margin;
    }
}

//Paragraph
p {

    .#{$globalClassPcs} &,
    &.#{$globalClassPcs} {
        font-family: $p-font-family;
        text-align: left;
        font-size: $p-font-size;
        line-height: $p-line-heigth;
        color: $color-fourth;
        margin: $p-margin;
        max-width: $p-max-width;
    }
}

//List
ul,
ol {

    .#{$globalClassPcs} &.pcs-list,
    &.list.#{$globalClassPcs} {
        font-family: $list-font-family;
        text-align: left;
        font-size: $list-font-size;
        line-height: $list-line-heigth;
        color: $color-fourth;
        margin: $list-margin;
        padding: $list-padding;
        max-width: $list-max-width;

        &:not(ol) {
            list-style: none;

            li {
                position: relative;
                padding: $list-item-padding;

                &::before {
                    display: block;
                    position: absolute;
                    content: ' ';
                    top: .5rem;
                    left: -2.5rem;
                    width: 1rem;
                    height: 1rem;
                    border-radius: 100%;
                    background-color: $color-first;
                }
            }
        }

        &:not(ul) {
            list-style: none;
            counter-reset: list;

            li {
                position: relative;
                padding: $list-item-padding;

                &::before {
                    font-family: $font-family-first;
                    counter-increment: list;
                    display: block;
                    position: absolute;
                    content: counter(list) '.';
                    font-weight: bold;
                    top: 0rem;
                    left: -2.5rem;
                    width: 2rem;
                    height: 2rem;
                    font-size: 1.8rem;
                    border-radius: 100%;
                    line-height: 2rem;
                    text-align: left;
                    color: $color-first;
                }
            }
        }
    }
}

//Images
img {
    display: inline-block;
    max-width: 100%;

    &.block {
        display: block;
        margin: 0;
    }
}

.image {

    .#{$globalClassPcs} &,
    &.#{$globalClassPcs} {
        max-width: $p-max-width;
        text-align: left;

        img {
            max-width: 100%;
        }
    }
}

//Quotes
q,
blockquote,
p.cita,
p.quote {

    .#{$globalClassPcs} &,
    &.#{$globalClassPcs} {
        font-size: $quote-font-size;
        line-height: $quote-line-height;
        color: $text-quote;
        text-align: center;
        margin-top: $quote-margin-top;
        max-width: $quote-max-width;
        $quote-padding: 3% 10% 0% 10%;
        $quote-border-top: 1px solid $color-first;
        $quote-border-bottom: 1px solid $color-first;
    }
}

//Footer
footer.#{$globalClassPcs} {

    .#{$globalClassPcs} &,
    &.#{$globalClassPcs} {
        display: flex;
        align-content: center;
        padding: 10px 15px;
        border-top: 1px rgba(0, 0, 0, 0.14) solid;

        .logo-developed {
            img {
                max-height: 50px;
                vertical-align: middle;
            }
        }
    }
}

.container-medium {

    .#{$globalClassPcs} &,
    &.#{$globalClassPcs} {
        max-width: 1200px;
    }
}

.#{$globalClassPcs}-global-loader {

    position: fixed;
    z-index: 1000;
    top: 0px;
    left: 0px;
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.85);

    &.active {
        display: block;
    }

    .#{$globalClassPcs}-box {

        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        width: 300px;
        max-width: max-content;
        max-height: max-content;


        .#{$globalClassPcs}-loader {
            border: 16px solid transparentize($color-third, 0.5);
            border-top: 16px solid $color-second;
            border-radius: 50%;
            width: 120px;
            height: 120px;
            animation: spin 2s linear infinite !important;
        }

    }

    @keyframes spin {
        0% {
            transform: rotate(0deg);
        }

        100% {
            transform: rotate(360deg);
        }
    }

}
