//Resets
figure {
    display: block;
    margin: 0;
    padding: 0;
}

//Correcciones a los estilos semantic
a.ui.button {
    text-decoration: none !important;
}

.ui.button {
    border-radius: 0px !important;
    background-color: $primaryColor;
    color: $primaryColorOver;

    &:hover,
    &:active,
    &:focus,
    &.active {
        background-color: $primaryColor;
        color: $primaryColorOver;
        opacity: 0.8;
    }
}

.ui.form {

    .field {

        input,
        select,
        textarea {
            border-radius: 0px !important;
        }
    }

}

.ui.dropdown {
    border-radius: 0px !important;

    .menu {
        border-radius: 0px !important;
    }
}

.ui.tabular.menu {
    .item:not(.active) {
        cursor: pointer;
    }
}

.ui.card,
.ui.cards {
    border-radius: 0px;
    color: $defaultTextColor;

    .card {
        border-radius: 0px;
    }
}
