//──── Misc ──────────────────────────────────────────────────────────────────────────────
$parentSelector: "body>.body";
$parentSelectorHeader: "body>.header";
$parentSelectorHero: "body>.hero";
$parentSelectorFooter: "body>.footer";

//──── Sizes ─────────────────────────────────────────────────────────────────────────────
$fontSizeHTML: 14;
$slideShowDotSize: 30;
$slideShowDotSizeDesktop: 18;
$slideShowArrowsFontSize: 30;
$slideShowArrowsFontSizeDesktop: 20;

//──── Media queries ─────────────────────────────────────────────────────────────────────
$rsMedium: 1000px;
$rsTablet: 780px;
$rsMobile: 480px;

//──── Colors ────────────────────────────────────────────────────────────────────────────
$defaultTextColor: #676767;

$primaryColor: #3B414D;
$primaryColorOver: white;

$secondaryColor: #E7746F;

$footerColor: white;
$footerSocialIconsOnHoverColor: $secondaryColor;

$borderActiveMenuColor: white;
$toTopIconColor: black;

$simpleLinkOnHoverColor: $secondaryColor;

$overlayEffectBGColor: #EBEBEB;
$overlayEffectBGColorAlt: white;

$genericBGColor1: #EBEBEB;

//──── Fonts ─────────────────────────────────────────────────────────────────────────────
$fontAbhaya: 'Abhaya Libre';
$fontLato: 'Lato';

// Weights
$fwHairLine: 100;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwExtraBold: 800;
