html {
    box-sizing: border-box;
    font-size: $fsize + unquote('px');

    &,
    body {

        display: block;
        margin: 0px;
        padding: 0px;
        outline: none;
        min-width: 100%;
        min-height: 100%;
        height: 100%;
        overflow-x: hidden;
    }
    
}


*,
*:before,
*:after {
    box-sizing: inherit;
}
