//Colors
$login-overlay-color: rgba(0, 0, 0, 0.55);
$login-form-bg-color: rgba(255, 255, 255, 0.77);
$login-form-border-color: rgba(112, 112, 112, 0.77);
$login-form-label-color:rgba(51, 51, 51, 0.87);
$login-form-caption-bg-color: white;
$login-form-problems-bg-color: rgba(0, 0, 0, 0.97);
$login-form-problems-font-color: white;
$login-form-problems-title-mark-color: red;
$login-footer-font-color: white;


$problem-overlay-color: rgba(0, 0, 0, 0.55);
$problem-primary-color: rgb(60, 60, 60);
$problem-secondary-color: rgb(88, 88, 87);
$problem-title-color: rgba(0, 0, 0, 0.6);

//Font
$fsize: 16;
