.ui-pcs.container-sidebar>.content {

    .title-list{
        color: var(--emphasis-color);
        text-align: center;
        font-size: 2rem;
        margin-bottom: 2rem;
    }

    .title-form{        
        color: var(--emphasis-color);
        font-size: 1.2rem;
        font-weight: bold;
        margin-bottom: 2rem;
        padding-bottom: 0.5rem;
        border-bottom: 1px solid black;
    }

    .container-table-standard-list{
        max-width: 1920px;
    }

    .container-buttons{
        >.button{
            margin-top: 0.5rem;
            margin-bottom: 0.5rem;
        }
    }

    .ui {

        &.button {

            &.custom-color {

                background-color: var(--emphasis-color);
                color: var(--over-emphasis-color);

                &:hover,
                &:active,
                &:focus {
                    opacity: 0.8;
                }

            }

        }

        &.form{
            &.standard-form{
                max-width: 1920px;
            }
        }

    }

}
