@import '../../fonts/lato/lato.css';
@import '../../fonts/public_sans/public_sans.css';
@import 'import/variables';
@import 'import/reset';

* {
    box-sizing: border-box;
}

body {
    font-family: $fontPublicSans;
}

.container {

    position: relative;
    min-height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    max-width: 1920px;
    margin: 0 auto;

    >.overlay {
        position: absolute;
        z-index: 11;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: $login-overlay-color;
        clip-path: polygon(0 0, 60% 0, 43% 100%, 0% 100%);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        overflow: hidden;
    }

    >.overlay-two {
        position: absolute;
        z-index: 5;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: $login-overlay-two-color;
        clip-path: polygon(0 0, 63% 0, 46% 100%, 0% 100%);
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
    }

    .text-center {
        text-align: center;
    }

    .form-container {
        position: absolute;
        z-index: 10;
        top: 50%;
        left: 62%;
        transform: translate(-50%, -50%);
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 550px;
        border-radius: 32px;
        box-shadow: 0px 3px 30px #7070704D;
        background-color: $login-form-bg-color;

        .caption {

            position: absolute;
            z-index: 10;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            align-items: center;
            padding: 30px;
            width: 220px;
            height: 220px;
            background-color: $login-form-caption-bg-color;

            &.round {
                border-radius: 100%;
                overflow: hidden;
            }

            img {
                max-width: 100%;
            }

        }

        .block-caption {
            z-index: 10;
        }

        .ui.centered.middle.aligned.grid>.centered.row>.eight.wide.column>.content {
            margin: auto;
            text-align: center;

            .title-bold {
                font-weight: bold;
                font-size: x-large;
                color: $login-overlay-two-color;
            }

            .title-app {
                font-weight: 400;
                font-size: large;
                color: $login-overlay-two-color;
                margin-bottom: 40px;
            }

            .text-left {
                text-align: left;
            }

            .problems-button {
                margin-top: 12px;
                position: relative;
                text-align: center;

                a {
                    color: red;
                }
            }

            .logo-footer {
                margin-top: 5px;

                .img-logo-footer {
                    width: $width-image-footer;
                }
            }

        }

        .ui.form {
            width: 600px;

            label {
                color: $login-form-label-color !important;
            }
        }

        .problems-message-container {
            display: none;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 10;
            width: 100%;
            height: 100%;
            background-color: $login-form-problems-bg-color;
            backdrop-filter: blur(2px);
            border-radius: 20px;
            margin: 0 auto;
            text-align: center;

            .ui.centered.middle.aligned.grid>.centered.row>.eight.wide.column>.content {
                margin-top: 30%;
                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: 100%;
                height: 100%;
                width: 100%;
                text-align: center;
                color: $login-form-problems-font-color;
                font-size: 1.1rem;

                .title {
                    font-size: 1.2rem;
                    text-transform: uppercase;

                    /* .text {} */

                    .mark {
                        display: block;
                        color: $login-form-problems-title-mark-color;
                    }
                }

                .message {
                    line-height: 1.8rem;
                }

                .ui.button.problem {
                    font-size: 0.8rem;
                }
            }
        }

    }

    img {
        max-width: 100%;
    }

    .ui.button,
    input,
    select {
        border-radius: $border-radius-buttons;
        font-family: $fontPublicSans;
        font-weight: 400;
        font-size: 18;
    }

    @media screen and (max-width:600px) {

        .overlay {
            clip-path: inset(0 0 0 0) !important;
        }

        .overlay-two {
            clip-path: inset(0 0 0 0) !important;
        }

        .form-container {
            z-index: 20;
            top: 50%;
            left: 50%;
            width: 400px;
            max-width: 90%;
            height: 600px;
            max-height: 80%;
            margin-top: 37.5px;
            padding: 15px 30px;

            .problems-message-container {
                .ui.centered.middle.aligned.grid>.centered.row>.eight.wide.column>.content {
                    margin-top: 50%;
                }
            }

            >.content {
                grid-template-rows: 80% 20%;
                align-items: baseline;
                row-gap: 8px;
                position: absolute;
                width: 100%;
                max-width: 92%;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: auto;

                .problems-button {
                    top: 0px;
                }

            }

            .caption {
                width: 150px;
                height: 150px;
            }

        }

        .problems-message-container {
            .content {
                padding-left: 0% !important;
                padding-right: 0% !important;
            }
        }

        >.footer {
            height: 20px;
            bottom: 1px;
        }

    }

    @media screen and (max-width:1000px) {

        .overlay {
            clip-path: polygon(0 0, 60% 0, 43% 100%, 0% 100%);
        }

        .overlay-two {
            clip-path: polygon(0 0, 63% 0, 46% 100%, 0% 100%);
        }

        .form-container {
            z-index: 20;
            top: 50%;
            left: 50%;
            width: 400px;
            max-width: 90%;
            height: 600px;
            max-height: 80%;
            margin-top: 37.5px;
            padding: 15px 30px;

            .problems-message-container {
                .ui.centered.middle.aligned.grid>.centered.row>.computer.only.four.wide.column {
                    display: none;
                }
                .ui.centered.middle.aligned.grid>.centered.row>.eight.wide.column>.content {
                    margin-top: 50%;
                }
            }

            >.content {
                grid-template-rows: 80% 20%;
                align-items: baseline;
                row-gap: 8px;
                position: absolute;
                width: 100%;
                max-width: 92%;
                top: 45%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: auto;

                .problems-button {
                    top: 0px;
                }

            }

            .caption {
                width: 150px;
                height: 150px;
            }

        }

        .problems-message-container {
            .content {
                padding-left: 0% !important;
                padding-right: 0% !important;
            }
        }

        >.footer {
            height: 20px;
            bottom: 1px;
        }



    }

    @media screen and (min-width:1920px) {
        .form-container {
            left: 60%;
            min-height: 650px;

            .problems-message-container {
                .ui.centered.middle.aligned.grid>.centered.row>.eight.wide.column>.content {
                    margin-top: 40%;
                }
            }
        }

        .form-container .ui.centered.middle.aligned.grid>.centered.row>.eight.wide.column>.content {
            transform: scale(1.1);
        }
    }

    @media screen and (min-width:2560px) {
        .form-container {
            left: 60%;
        }
    }

}

@media screen and (max-height:500px) {

    html {
        height: 600px;
    }

    .container {
        >.footer {
            bottom: 0px;
            height: 25px;
        }
    }
}
