@import '../../fonts/lato/lato.css';
@import 'import/variables';
@import 'import/reset';

* {
    box-sizing: border-box;
}

.container {

    position: relative;
    width: 100%;
    min-height: 100%;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;

    >.overlay {
        position: absolute;
        top: 0px;
        left: 0px;
        width: 100%;
        height: 100%;
        background-color: $login-overlay-color;
    }

    .text-center {
        text-align: center;
    }

    .form-container {

        position: absolute;
        z-index: 10;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: block;
        height: 70%;
        max-height: 800px;
        max-width: 480px;
        margin-top: 55px;
        padding: 15px 75px;
        background-color: $login-form-bg-color;
        border: 1px solid $login-form-border-color;

        .caption {

            position: absolute;
            z-index: 10;
            top: 0%;
            left: 50%;
            transform: translate(-50%, -50%);
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            align-items: center;
            padding: 30px;
            width: 220px;
            height: 220px;
            border-radius: 100%;
            background-color: $login-form-caption-bg-color;

            img {
                max-width: 100%;
            }

        }

        >.content {

            display: grid;
            justify-content: center;
            align-items: flex-end;
            grid-template-columns: 100%;
            height: 100%;
            width: 100%;
            max-width: 320px;

            .problems-button {
                position: relative;
                top: -25px;
                text-align: center;
            }

        }

        .ui.form {
            width: 600px;

            label {
                color: $login-form-label-color !important;
            }
        }

        .problems-message-container {
            display: none;
            position: absolute;
            top: 0px;
            left: 0px;
            z-index: 10;
            width: 100%;
            height: 100%;
            background-color: $login-form-problems-bg-color;

            .content {

                display: grid;
                justify-content: center;
                align-items: center;
                grid-template-columns: 100%;
                height: 100%;
                width: 100%;
                margin: 0 auto;
                padding: 6rem 2rem;
                text-align: center;
                color: $login-form-problems-font-color;
                font-size: 1.1rem;

                .title {
                    padding: 1.5rem 0rem;
                    font-size: 1.2rem;
                    text-transform: uppercase;

                    /* .text {} */

                    .mark {
                        display: block;
                        color: $login-form-problems-title-mark-color;
                    }
                }

                .message {
                    line-height: 1.8rem;
                }

                .ui.button.problem {
                    font-size: 0.8rem;
                }
            }
        }

    }

    >.footer {
        position: absolute;
        bottom: 10px;
        left: 0px;
        width: 100%;
        height: 30px;
        text-align: center;
        color: $login-footer-font-color;
        font-size: 0.75rem;
    }

    img {
        max-width: 100%;
    }

    .ui.button,
    input,
    select {
        border-radius: 0px !important;
    }

    @media screen and (max-width:500px) {

        .form-container {

            width: 400px;
            max-width: 90%;
            height: 600px;
            max-height: 80%;
            margin-top: 37.5px;
            padding: 15px 30px;

            >.content {
                grid-template-rows: 80% 20%;
                align-items: baseline;
                row-gap: 8px;
                position: absolute;
                width: 100%;
                max-width: 92%;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                height: auto;

                .problems-button {
                    top: 0px;
                }

            }

            .caption {
                width: 150px;
                height: 150px;
            }

        }

        >.footer {
            height: 20px;
            bottom: 1px;
        }

    }

}

@media screen and (max-height:500px) {

    html {
        height: 600px;
    }

    .container {
        >.footer {
            bottom: 0px;
            height: 25px;
        }
    }
}
