@import '../../fonts/lato/lato.css';
@import 'import/variables';
@import 'import/reset';
@import '../../fonts/public-sans/public-sans.css';

body {
    font-family: $fontPublicSans;
}

.container {

    img {
        max-width: 100%;
    }

    .topbar {

        position: relative;

        >.overlay {
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: $problem-overlay-color;
        }

        >.content,
        >.header {
            position: relative;
            z-index: 2;
        }

        >.header {

            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            padding: 30px 50px 0px 50px;

            .logo {


                img {
                    width: 150px;
                }

            }

            .back {

                .ui.button {
                    font-size: 95%;
                }

                .ui.button.custom-color {
                    background-color: $problem-color-button;
                    color: $problem-color-text-button;
                }

            }

            .ui.button.back-color {
                padding-left: 20px;
                padding-right: 20px;
                font-size: 95%;
                background-color: $problem-back-color;
                color: $problem-color-text-button;
                display: none;
            }

        }

        .ml-8 {
            margin-left: 8px;
        }

        >.content {

            padding: 0px 50px 0px 50px;

            >.caption {

                text-align: center;

                >.image {
                    text-align: center;

                    img {
                        &.default {
                            display: inline-block;
                            height: $height-image-header-topbar;
                            width: auto;
                        }

                        &.alt {
                            display: none;
                            height: $height-image-header-topbar;
                            width: auto;
                        }
                    }
                }

                >.title-step {
                    font-size: 1.5rem;
                    line-height: 2rem;
                    font-weight: 550;
                    text-transform: uppercase;
                    text-align: center;
                }

                >.text {
                    font-size: 2.5rem;
                    font-weight: bold;
                    line-height: 2.6rem;
                    text-transform: uppercase;
                    text-align: center;
                    color: white;
                    margin: 2.5rem 0rem 0rem 0rem;
                }

            }

            &.active {

                background-color: white;
                margin-top: 2rem;
                padding-top: 3rem;

                >.caption {

                    margin: 0 auto;
                    max-width: 1200px;
                    padding-bottom: 3rem;
                    border-bottom: 1px transparentize($problem-secondary-color, 0.8) solid;

                    >.image {

                        img {
                            &.default {
                                display: none;
                            }

                            &.alt {
                                display: inline-block;
                            }
                        }

                    }

                    >.text {
                        color: black;
                        margin-top: 1rem;
                    }

                }

            }

        }

    }

    >.header {
        color: $problem-title-color;
        margin-top: 2rem;
        padding: 0px 15px;

        .img-header-problems {
            height: 50px;
            width: auto;
        }
    }

    >.options {
        display: flex;
        flex: 0 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        column-gap: 5rem;
        max-width: 1200px;
        margin: 1rem auto 0rem auto;
        text-align: center;
        outline: none;
        text-decoration: none;
        padding: 0px 15px;

        .option-alt {
            display: flex;
            flex-direction: row;
            justify-content: center;
            align-content: center;
            align-items: center;
            background-color: white;
            box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
            border-radius: 15px;
            position: relative;
            margin-bottom: 2rem;
            padding: 0px 15px;
            height: 150px;
            width: 280px;
            padding-left: 20px;
            padding-right: 20px;
            gap: 20px;

            .image {

                display: grid;
                justify-content: center;
                justify-items: center;
                align-items: center;
                grid-template-columns: 100%;
                margin: 0 auto;
                position: relative;
                width: 80px;
                height: 80px;

                img {
                    display: block;
                }

            }

            .content {
                min-height: 147px;
                max-width: 140px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                justify-items: center;
                align-items: flex-start;


                .title {
                    font-size: 1.1rem;
                    color: $problem-title-card;
                    text-align: left;
                    font-weight: 600;
                }

                .text {
                    margin-top: 7px;
                    font-weight: 400;
                    font-size: 0.8rem;
                    text-align: left;
                    color: #1B1C1D;
                    font-size: 12px;
                    line-height: 10px;
                }

                .text:first-letter {
                    text-transform: capitalize;
                }

            }

        }

        .option-alt:hover {
            background-color: $problem-card-hover;

            .content {
                .title {
                    color: white;
                }

                .text {
                    color: white;
                }
            }

            .image {
                img {
                    filter: invert(1) brightness(0) grayscale(100%) invert(1);
                }
            }
        }

        .option {

            position: relative;
            margin-bottom: 2rem;
            padding: 0px 15px;

            .image {

                display: grid;
                justify-content: center;
                justify-items: center;
                align-items: center;
                grid-template-columns: 100%;
                margin: 0 auto;
                margin-bottom: 1rem;
                position: relative;
                width: 130px;
                height: 130px;
                border-radius: 100%;
                border: 1px solid black;

                img {
                    display: block;
                }

            }

            .content {
                background-color: #FBBD08;
                padding: 0.8rem 1rem;
                border-radius: 3px;
                color: black;
                font-weight: 400;
                font-size: 0.8rem;
                min-height: 64px;
                min-width: 240px;
                display: grid;
                align-items: center;

                .title {
                    text-transform: uppercase;
                }

            }

        }
    }

    >.footer-div {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding-bottom: 5%;
        display: flex;
        flex-direction: column;

        img {
            width: $width-image-footer;
            height: $height-imagen-footer;
        }

        .text-footer {
            font-size: $problem-size-text-footer;
            margin-top: -10px;
        }
    }

    @media screen and (max-width: 620px) {

        .topbar {

            >.header {

                padding: 20px 30px 0px 30px;

                .back {

                    .ui.button {
                        border: 0px solid transparent !important;
                        box-shadow: none !important;
                        font-size: 120%;

                        span {
                            display: none;
                        }
                    }

                }

            }

            >.content {
                margin-top: 2rem;

                >.caption {
                    >.image {
                        max-width: 220px;
                        margin: 0 auto;
                    }

                    >.text {
                        margin-top: 1.8rem;
                    }
                }
            }

        }

        >.header {
            color: $problem-title-color;
            font-size: 1.6rem;
            line-height: 2rem;
        }

        >.options {

            display: block;
            flex: initial;
            flex-wrap: initial;
            justify-content: initial;
            margin-top: 2rem;

            .option {

                display: block;
                flex: initial;
                flex-wrap: initial;
                justify-content: initial;
                max-width: 100%;
                margin: 0rem auto;
                padding: 0px 0px 0px 30px;
                max-width: max-content;
                position: relative;

                &:not(:first-child) {
                    margin-top: 2rem;
                }

                .image {
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%);
                    width: 60px;
                    height: 60px;
                    background-color: white;
                    margin: 0px;
                    grid-template-columns: 70%;
                }

                .content {
                    font-size: 0.7rem;
                    grid-template-rows: auto;
                    min-height: 52px;
                    padding: 0.4rem 0.5rem;
                }

            }

            .option-alt {
                margin-left: auto;
                margin-right: auto;

                .image {

                    display: grid;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;
                    grid-template-columns: 100%;
                    margin: 0 auto;
                    position: relative;
                    width: 80px;
                    height: 80px;

                    img {
                        display: block;
                    }

                }

                .content {
                    min-height: 147px;
                    max-width: 140px;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    justify-items: center;
                    align-items: center;


                    .title {
                        font-size: 1.1rem;
                        color: $problem-title-card;
                        text-align: left;
                        text-transform: capitalize;
                        font-weight: 600;
                    }

                    .text {
                        margin-top: 7px;
                        font-weight: 400;
                        font-size: 0.8rem;
                        text-align: left;
                        color: #1B1C1D;
                        font-size: 12px;
                        line-height: 10px;
                        text-align: start;
                    }

                    .text:first-letter {
                        text-transform: capitalize;
                    }

                }
            }
        }

    }
}

.modal-no-user {
    display: none;
}

.container-modals {
    position: fixed;
    z-index: 22;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: $problem-background-modal;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-ui-center {
        max-width: 40%;
        max-height: auto;
        padding: 5% 7% 3% 7%;
        background-color: white;
        border-radius: 36px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        text-align: center;
        align-items: center;

        .title {
            color: $card-modal-title;
            text-transform: uppercase;
            margin-bottom: 5%;
            font-weight: 500;
            font-size: 1.1rem;
        }

        .title-danger {
            color: $card-modal-title-danger;
            text-transform: uppercase;
            margin-bottom: 5%;
            font-weight: 500;
            font-size: 1.1rem;
        }

        .description {
            .name {
                color: $color-name-company;
                text-transform: uppercase;
            }
        }

        .actions {
            display: flex;
            justify-content: center;
            flex-direction: row;
            margin-top: 8%;

            div {
                padding-left: 10px;
                padding-right: 10px;
            }

            .btn-help-desk {
                cursor: pointer;

                a {
                    padding: 10px;
                    border-radius: 8px;
                    background-color: $card-button-help-desk;
                    color: $card-button-color-text;
                }
            }

            .btn-new-code {
                a {
                    padding: 10px;
                    border-radius: 8px;
                    background-color: $card-button-new-code;
                    color: $card-button-color-text;
                }
            }

            .btn-login {
                a {
                    padding: 10px;
                    border-radius: 8px;
                    background-color: $card-button-login;
                    color: $card-button-color-text;
                }
            }
        }
    }
}
