@import '../../fonts/lato/lato.css';
@import 'import/variables';
@import 'import/reset';

.container {

    img {
        max-width: 100%;
    }

    .topbar {

        position: relative;
        background-position: center center;
        background-size: cover;
        background-repeat: no-repeat;
        background-image: url('../images/problems/bg.jpg');

        >.overlay {
            position: absolute;
            z-index: 1;
            top: 0px;
            left: 0px;
            width: 100%;
            height: 100%;
            background-color: $problem-overlay-color;
        }

        >.content,
        >.header {
            position: relative;
            z-index: 2;
        }

        >.header {

            display: grid;
            grid-template-columns: auto auto;
            justify-content: space-between;
            padding: 30px 50px 0px 50px;

            .logo {


                img {
                    width: 150px;
                }

            }

            .back {

                .ui.button {
                    font-size: 95%;
                }

            }

        }

        >.content {

            padding: 0px 50px 30px 50px;

            >.caption {

                text-align: center;

                >.image {
                    text-align: center;

                    img {
                        &.default {
                            display: inline-block;
                        }

                        &.alt {
                            display: none;
                        }
                    }
                }

                >.text {
                    font-size: 2.5rem;
                    font-weight: bold;
                    line-height: 2.6rem;
                    text-transform: uppercase;
                    text-align: center;
                    color: white;
                    margin: 2.5rem 0rem 0rem 0rem;
                }

            }

            &.active {

                background-color: white;
                margin-top: 2rem;
                padding-top: 3rem;

                >.caption {

                    margin: 0 auto;
                    max-width: 1200px;
                    padding-bottom: 3rem;
                    border-bottom: 1px transparentize($problem-secondary-color, 0.8) solid;

                    >.image {

                        img {
                            &.default {
                                display: none;
                            }

                            &.alt {
                                display: inline-block;
                            }
                        }

                    }

                    >.text {
                        color: black;
                        margin-top: 1rem;
                    }

                }

            }

        }

    }

    >.header {
        color: $problem-title-color;
        margin-top: 2rem;
        padding: 0px 15px;
        font-size: 2rem;
        line-height: 2.2rem;
        font-weight: 500;
        text-transform: uppercase;
        text-align: center;
    }

    >.options {

        display: flex;
        flex: 0 0 auto;
        flex-wrap: wrap;
        justify-content: space-between;
        max-width: 1200px;
        margin: 4rem auto 0rem auto;
        text-align: center;
        outline: none;
        text-decoration: none;
        padding: 0px 15px;

        .option {

            position: relative;
            margin-bottom: 2rem;
            padding: 0px 15px;

            .image {

                display: grid;
                justify-content: center;
                justify-items: center;
                align-items: center;
                grid-template-columns: 100%;
                margin: 0 auto;
                margin-bottom: 1rem;
                position: relative;
                width: 130px;
                height: 130px;
                border-radius: 100%;
                border: 1px solid black;

                img {
                    display: block;
                }

            }

            .content {
                background-color: #FBBD08;
                padding: 0.8rem 1rem;
                border-radius: 3px;
                color: black;
                font-weight: 600;
                font-size: 0.8rem;
                min-height: 64px;
                min-width: 240px;
                display: grid;
                align-items: center;

                .title {
                    text-transform: uppercase;
                }

            }

        }
    }

    @media screen and (max-width: 620px) {

        .topbar {

            >.header {

                padding: 20px 30px 0px 30px;

                .back {

                    .ui.button {
                        border: 0px solid transparent !important;
                        box-shadow: none !important;
                        font-size: 120%;

                        span {
                            display: none;
                        }
                    }

                }

            }

            >.content {
                margin-top: 2rem;

                >.caption {
                    >.image {
                        max-width: 220px;
                        margin: 0 auto;
                    }

                    >.text {
                        margin-top: 1.8rem;
                    }
                }
            }

        }

        >.header {
            color: $problem-title-color;
            font-size: 1.6rem;
            line-height: 2rem;
        }

        >.options {

            display: block;
            flex: initial;
            flex-wrap: initial;
            justify-content: initial;
            margin-top: 2rem;

            .option {

                display: block;
                flex: initial;
                flex-wrap: initial;
                justify-content: initial;
                max-width: 100%;
                margin: 0rem auto;
                padding: 0px 0px 0px 30px;
                max-width: max-content;
                position: relative;

                &:not(:first-child) {
                    margin-top: 2rem;
                }

                .image {
                    position: absolute;
                    top: 50%;
                    left: 0px;
                    transform: translateY(-50%);
                    width: 60px;
                    height: 60px;
                    background-color: white;
                    margin: 0px;
                    grid-template-columns: 70%;
                }

                .content {
                    font-size: 0.7rem;
                    grid-template-rows: auto;
                    min-height: 52px;
                    padding: 0.4rem 0.5rem;
                }

            }
        }

    }
}
