$primary-color: rgb(10, 70, 94);
$secondary-color: rgb(88, 88, 87);
img {
    max-width: 100%;
}

.container {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    color: $secondary-color;
    .topbar {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        padding: 7px 28px 0px 28px;
        height: 150px;
        .brand {
            display: grid;
            grid-template-columns: 60px auto;
            column-gap: 1rem;
            align-items: center;
            .icon {
                img {}
            }
            .text {
                .title {
                    color: $primary-color;
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 2rem;
                    margin-bottom: 0.5rem;
                }
                .subtitle {
                    font-size: 1.2em;
                }
            }
        }
        .back {
            a {
                display: block;
                margin-top: 10px;
                padding: 8px;
                width: 60px;
                height: 60px;
                transition: 0.5s all ease;
                border-radius: 100%;
                border: 1px solid rgb(220, 220, 220);
                box-shadow: 1px 1px 1px 1px rgba(110, 110, 110, 0.1);
                img {
                    max-width: 100%;
                }
                &:hover {
                    box-shadow: 3px 3px 3px 2px rgba(110, 110, 110, 0.3);
                }
            }
        }
    }
    .list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        flex: 0 0 auto;
        max-width: 1440px;
        min-height: calc(100vh - 160px);
        margin: 0 auto;
        .item {
            position: relative;
            width: 25%;
            max-width: 300px;
            min-width: 300px;
            height: 376px;
            margin: 0px 15px 10px 15px;
            padding: 1rem;
            border: 1px solid rgb(220, 220, 220);
            box-shadow: 1px 1px 1px 1px rgba(110, 110, 110, 0.1);
            transition: all ease 0.5s;
            &::after {
                position: absolute;
                top: 43%;
                right: -15px;
                content: ' ';
                display: block;
                height: 39%;
                width: 0.5px;
                border: 0.5px solid #585857;
                opacity: 0.2;
            }
            &:last-child {
                &::after {
                    display: none;
                }
            }
            a {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: 1;
            }
            .icon {
                max-height: 100%;
                text-align: center;
                img {
                    width: 150px;
                    height: 150px;
                }
            }
            .text {
                margin: 0 auto;
                width: 200px;
                .title {
                    margin-bottom: 1rem;
                    font-size: 1.5rem;
                    font-weight: 600;
                    text-transform: uppercase;
                    text-align: center;
                    line-height: 2rem;
                }
                .description {
                    font-size: 1.2rem;
                    text-align: center;
                }
            }
            &:hover {
                box-shadow: 3px 3px 3px 2px rgba(110, 110, 110, 0.3);
                .icon {}
                .text {}
            }
        }
    }
}

@media screen and (max-width:1200px) {
    .container {
        .list {
            .item {
                margin: 10px 52px;
                &::after {
                    right: -52px;
                }
                &:nth-child(2) {
                    &::after {
                        display: none;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:900px) {
    .container {
        .list {
            .item {
                height: auto;
                margin: 10px 15px;
                padding: 1.5rem;
                &::after {
                    right: -15px;
                }
                .icon {
                    img {
                        width: 100px;
                        height: 100px;
                    }
                }
                .text {
                    .title {
                        font-size: 1.2rem;
                        line-height: 1.2rem;
                    }
                }
            }
        }
    }
}

@media screen and (max-width:720px) {
    .container {
        .list {
            flex-direction: column;
            .item {
                &::after {
                    display: none;
                }
            }
        }
    }
}

@media screen and (max-width:768px) {}
