$primary-color: rgb(10, 70, 94);
$secondary-color: rgb(88, 88, 87);
img {
    max-width: 100%;
}

.container-main {
    position: relative;
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    color: $secondary-color;
    .container-form {
        max-width: 700px;
        min-height: 50vh;
        margin: 0 auto;
        padding: 0 15px;
        .ui.button {
            border-radius: 0;
        }
    }
    .topbar {
        display: grid;
        grid-template-columns: auto auto;
        justify-content: space-between;
        padding: 7px 28px 0px 28px;
        height: 120px;
        max-width: 1440px;
        margin: 0 auto 3rem auto;
        .brand {
            display: grid;
            grid-template-columns: 60px auto;
            column-gap: 1rem;
            align-items: center;
            .icon {
                img {}
            }
            .text {
                .title {
                    color: $primary-color;
                    font-weight: 500;
                    font-size: 2rem;
                    line-height: 2rem;
                    margin-bottom: 0.5rem;
                }
                .subtitle {
                    font-size: 1.2em;
                }
            }
        }
        .back {
            a {
                display: block;
                margin-top: 10px;
                padding: 8px;
                width: 60px;
                height: 60px;
                transition: 0.5s all ease;
                border-radius: 100%;
                border: 1px solid rgb(220, 220, 220);
                box-shadow: 1px 1px 1px 1px rgba(110, 110, 110, 0.1);
                img {
                    max-width: 100%;
                }
                &:hover {
                    box-shadow: 3px 3px 3px 2px rgba(110, 110, 110, 0.3);
                }
            }
        }
    }
}

@media screen and (max-width:1200px) {}
