@import 'import/variables';
@import 'import/reset';
@import url('../../fonts/public-sans/public-sans.css?cacheStamp=CACHESTAMP');
@import url('../../fonts/poppins/poppins.css?cacheStamp=CACHESTAMP');

body {
    font-family: $fontPublicSans;
}

.problems-container {
    width: 100%;
    height: 100vh;
    background: linear-gradient(180deg, $mainBrandColor 0%, transparent 100%);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    display: grid;
    place-content: center;
    overflow: hidden;

    .back-action {
        position: absolute;
        color: white;
        width: 90px;
        height: 35px;
        border: 1px solid white;
        border-radius: 5px;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: .5s;
        top: 30px;
        left: 30px;

        &:hover {
            background-color: white;
            color: $mainBrandColor;
        }
    }

    >.body {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;

        >.header {
            color: white;
            text-align: center;
        }

        >section.options {
            width: 100%;
            display: grid;
            grid-template-columns: auto auto auto;
            gap: 30px;

            >.item {
                width: 350px;
                height: 300px;
                background-color: white;
                border-radius: 15px;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                gap: 20px;
                cursor: pointer;
                transition: .5s;

                >.image-container {
                    width: 130px;
                    height: 130px;
                    border-radius: 50%;
                    background-color: $mainBrandColor;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: .5s;
                }

                >span {
                    color: $mainBrandColor;
                    font-size: 21px;
                    transition: .5s;
                }

                &:hover {
                    background-color: $mainBrandColor;

                    >.image-container {
                        background-color: rgba(255, 255, 255, 0.39);
                    }

                    >span {
                        color: white;
                    }
                }

            }
        }

        >.footer {
            width: 280px;
            height: 60px;
            max-width: 100%;
            background-color: white;
            border-radius: 48px;
            display: flex;
            justify-content: center;
            align-items: center;

            >img {
                max-width: 80%;
            }
        }
    }

    @media screen and (max-height: 750px) {

        >.body {
            >section.options {
                >.item {
                    width: 250px;
                    height: 210px;

                    >.image-container {
                        width: 90px;
                        height: 90px;
                    }

                    >span {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 870px) {
        >.body {
            padding-block: 80px;
            -ms-overflow-style: none;
            scrollbar-width: none;
            overflow-y: scroll;

            &::-webkit-scrollbar {
                display: none;
            }

            >section.options {
                grid-template-columns: auto auto;
            }
        }
    }

    @media screen and (max-width: 1150px) {

        >.body {
            >section.options {
                >.item {
                    width: 250px;
                    height: 210px;

                    >.image-container {
                        width: 90px;
                        height: 90px;
                    }

                    >span {
                        font-size: 17px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 560px) {
        >.body {
            padding-block: 100px;

            >.header {
                h2 {
                    font-size: 20px;
                }
            }

            >section.options {
                justify-content: center;
                grid-template-columns: auto;
            }
        }
    }
}

.ui.modal.user-and-pass {
    border-radius: 25px !important;
    width: 640px;
    max-height: 800px;
    padding: 0 !important;
    overflow-y: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
    overflow-y: scroll;

    &::-webkit-scrollbar {
        display: none;
    }

    @media screen and (max-width: 700px) {
        width: 95%;
        height: calc(100% - 100px);
    }

    >.content {
        background-color: white;
        border-radius: 25px !important;
        width: 100%;
        height: 100%;
        padding: 0 !important;

        >.head-modal {
            width: 100%;
            height: 150px;
            background-color: $mainBrandColor;
            border-radius: 25px 25px 0 0;

            >.exit-modal {
                width: 100%;
                display: flex;
                justify-content: end;
                padding-right: 50px;
                padding-top: 34px;

                >i {
                    margin: 0;
                    padding: 0;
                    color: white;
                    cursor: pointer;
                }
            }

            >.titles {
                width: 100%;
                text-align: center;

                >h2 {
                    color: white;
                    margin: 0;
                    padding: 0;
                    font-size: 30px;
                }

                >span {
                    color: white;
                    font-size: 20px;

                }
            }
        }


        >.body-modal {
            width: 100%;
            height: calc(100% - 150px);
            padding-block: 20px;
            padding-inline: 20px;
            display: flex;
            justify-content: center;

            >.content {
                width: 100%;
                height: 100%;
                max-width: 500px;
                padding-block: 40px;
                display: flex;
                flex-direction: column;
                justify-content: space-between;

                >h2 {
                    width: 100%;
                    text-align: center;
                    color: $mainBrandColor;
                    font-size: 45px;
                    font-weight: bold;
                    margin: 0;
                    padding: 0;
                }

                >form {

                    >.steps {
                        padding-bottom: 80px;

                        >.step-2,
                        .step-3 {
                            display: none;

                            >p {
                                >span {
                                    color: $mainBrandColor;
                                    font-weight: bold;
                                }
                            }
                        }
                    }

                    >.buttons-action-area {
                        width: 100%;
                        display: grid;
                        grid-template-columns: 49% 24% 24%;
                        gap: 7px;

                        >button {
                            width: 100%;
                            padding-block: 12px;
                            border: 1px solid gray;
                            background-color: rgba(128, 128, 128, 0.194);
                            border-radius: 8px;
                            cursor: pointer;
                            color: gray;


                            &.back {
                                background-color: transparent;
                            }

                            &.next {
                                background-color: $mainBrandColor;
                                color: white;
                            }
                        }
                    }
                }

                >.logo {
                    width: 100%;
                    display: flex;
                    justify-content: center;

                    >img {
                        width: 120px;
                        height: 120px;
                    }
                }
            }

        }

        @media screen and (max-width: 450px) {
            >.head-modal {
                height: 100px;

                >.exit-modal {
                    padding-right: 20px;
                    padding-top: 24px;
                }

                >.titles {

                    >h2 {

                        font-size: 20px;
                    }

                    >span {
                        font-size: 15px;

                    }
                }
            }

            >.body-modal {

                >.content {

                    >h2 {
                        font-size: 25px;
                    }

                    >form {

                        >.buttons-action-area {
                            grid-template-rows: auto 1fr 1fr;
                            grid-template-columns: 1fr;
                        }
                    }


                }

            }
        }
    }
}

.modal-no-user {
    display: none;
}

.container-modals {
    position: fixed;
    z-index: 1002;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    background-color: $problem-background-modal;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-ui-center {
        width: 600px;
        height: 400px;
        padding: 10px;
        background-color: white;
        border-radius: 25px;
        box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .title {
            color: $card-modal-title;
            text-transform: uppercase;
            margin-bottom: 5%;
            font-weight: 500;
            font-size: 1.1rem;
        }

        .title-danger {
            color: $mainBrandColor;
            text-transform: uppercase;
            margin-bottom: 5%;
            font-weight: bold;
            font-size: 27px;
        }

        .description {
            p {
                text-align: center;
                max-width: 400px;
            }

            .name {
                color: $mainBrandColor;
                text-transform: uppercase;
            }
        }

        .actions {
            display: flex;
            justify-content: center;
            flex-direction: row;
            gap: 10px;
            margin-top: 8%;

            div {
                padding-left: 10px;
                padding-right: 10px;
            }

            .btn {
                width: 200px;
                height: 45px;
                color: white;
                border-radius: 4px;
                display: flex;
                align-items: center;
                justify-content: center;
                font-size: 18px;

                &.support {
                    background-color: $mainBrandColor;
                }

                &.gray {
                    background-color: $back-button-color;
                }

                &.green {
                    background-color: $card-button-new-code;
                    cursor: pointer;
                }
            }

            .btn-help-desk {
                cursor: pointer;

                a {
                    width: 200px;
                    height: 45px;
                    border-radius: 4px;
                    background-color: $mainBrandColor;
                    color: $card-button-color-text;
                }
            }

            .btn-new-code {
                a {
                    padding: 10px;
                    border-radius: 8px;
                    background-color: $card-button-new-code;
                    color: $card-button-color-text;
                }
            }

            .btn-login {
                a {
                    padding: 10px;
                    border-radius: 8px;
                    background-color: $card-button-login;
                    color: $card-button-color-text;
                }
            }
        }
    }
}

[notifications-modal] {
    .title {
        max-width: 400px;
        font-size: 20px !important;
    }
}


[modal-type="USER_NO_EXISTS"],
[modal-type="EXPIRED_OR_NOT_EXIST_CODE"] {
    .title {
        color: red !important;
    }
}

[modal-type="SUCCESS_PASSWORD_CHANGE"] {
    .title {
        color: $mainBrandColor !important;
    }
}
