@import '../colors';
@import '../sizes';

.ui-pcs.container-sidebar {
    display: grid;
    grid-template-columns: 18rem auto;
    font-size: 1rem;
    min-height: 100vh;

    >.content {
        padding: 2rem 3rem 8rem 5rem;
		table{
			&,& *{
				word-break: initial !important;
			}
		}
    }

    >.no-padding {
        padding: 0;
    }

    @media (max-width: 800px) {
        grid-template-columns: 100%;
        row-gap: 2rem;
    }

    @media(max-width: 500px) {
        >.content {
            padding: 5rem 1rem 0rem 1rem;
        }
    }
}
