@import '../../../../../statics/core/sass/admin_app_base';
$gray: #4D525A;

.ui-pcs.container-sidebar>.content {
    padding: 6rem 5rem 8rem 10rem;
}

.container-table-standard-list {

    max-width: 800px;

    .table-title {
        font-size: 1.3rem;
        font-weight: bold;
        color: var(--emphasis-color);
        margin-bottom: 1.3rem;
    }

}

.person-title {

    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    align-items: center;
    margin-top: -60px;
    margin-left: -4rem;

    .image {
        width: 150px;

        img {
            border-radius: 100%;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
        }
    }

    .text {
        font-size: 2rem;
        font-weight: 800;
        padding: 0px 15px;
        color: $gray;
        margin-top: 5rem;

        .mark {
            font-weight: 600;
            color: var(--emphasis-color);
        }
    }

}

@media (max-width: 800px) {

    .ui-pcs.container-sidebar>.content {
        padding: 8rem 1rem 0rem 1rem;
    }

    .person-title {
        margin-left: 0rem;
    }

}
