@import '../../../../../statics/core/sass/includes/variables_app_base';
@import '../../../../../statics/core/sass/includes/functions_app_base';
$gray: #4D525A;

.container-standard-table {
    max-width: 800px;
}

.person-title {

    display: flex;
    flex: 0 0 auto;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row-reverse;
    margin-bottom: 3rem;

    .image {
        width: 150px;

        img {
            border-radius: 100%;
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 0.5);
        }
    }

    .text {
        font-size: 2rem;
        font-weight: 800;
        padding: 0px 15px;
        color: $gray;
        margin-top: 5rem;

        .mark {
            font-weight: 600;
            color: var(--main-brand-color);
        }
    }

}

@media (max-width: 800px) {

    .person-title {
        margin-left: 0rem;
        flex-direction: initial;

        .text {
            margin-top: 1rem;
        }
    }

}
