body {
    --color-text: rgb(40, 100, 133);
    --color-bg: #F1F2F2;
    --color-link: rgb(0, 146, 208);
    color: var(--color-text);
    background-color: var(--color-bg);
}

.content-403 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 300px;
    max-width: 100%;
    text-align: center;
}

.title-403 {
    font-size: 32px;
    text-transform: uppercase;
    font-weight: 800;
}

.text-403 {
    font-size: 20px;
}

.bt-403 {
    width: 200px;
    padding: 10px;
    font-size: 18px;
    font-weight: 800;
    color: white;
    background: var(--color-text);
    cursor: pointer;
    text-decoration: none;
}

.bt-403:hover {
    background: var(--color-link);
}
