@import '../../../../../statics/core/sass/includes/variables_app_base';
@import '../../../../../statics/core/sass/includes/functions_app_base';

body.profiles-map {
    .#{$globalClassPcs}.container-sidebar {

        //container-name pcsphp-main-container
        >.content {
            padding: 0px;
        }

        @media (max-width: $sidebarBreakPoint) {
            >.content {
                padding: 0px;
            }
        }
    }
}

.module-view-container {
    height: 100dvh !important;

    #map {
        .mapboxgl-ctrl-top-right {
            top: 60px;
        }
    }
}