.ck-editor__editable {
    min-height: 500px;
    max-height: 500px;
}

.ck-editor {

    figure {

        &.image {

            //Solo en el editor
            margin-left: initial;
            margin-right: initial;
            //--------------------

            display: block;
            max-width: 100%;

            &.image-style-align-left {
                float: left;

                &+* {

                    &::before,
                    &::after {
                        display: block;
                        content: ' ';
                        clear: both;
                    }
                }
            }

            &.image-style-align-center {
                margin-left: auto;
                margin-right: auto;
            }

            &.image-style-align-right {
                float: right;

                &+* {

                    &::before,
                    &::after {
                        display: block;
                        content: ' ';
                        clear: both;
                    }
                }
            }

        }

    }

    img {
        max-width: 100%;
    }

}
