.simple-upload-placeholder {

    position: relative;
    border: 1px solid rgba(73, 73, 73, 0.3);
    box-shadow: 0px 0px 8px 0px rgba(0, 0, 0, 0.25);
    margin: 0px !important;
    padding: 0px !important;
    overflow: hidden;

    .preview {

        position: relative;
        min-height: 300px;
        width: 100%;
        max-width: 100%;

        .placeholder-icon {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 100%;

            .icon {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-size: 150px;
                filter: blur(8px);
            }
        }

        .overlay-element {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 100%;
            height: 105%;
            background-color: rgba(153, 153, 153, 0.727);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center center;

            &.image {
                background-color: transparent;
            }
        }


    }

    input[type=file],
    [file-label] {
        display: block;
        width: 0px !important;
        height: 0px !important;
        padding: 0px !important;
        margin: 0px !important;
        visibility: hidden;
    }

    .ui.button.trigger-file {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        &:not(.fomantic) {
            background-color: var(--main-brand-color);
            color: var(--font-color-two);

            &:hover,
            &:active,
            &:focus {
                opacity: 0.8;
            }
        }
    }

    &.only-button {

        border: none;
        box-shadow: none;
        margin: 0px !important;
        padding: 0px !important;

        .preview {
            display: none;
        }

        .ui.button.trigger-file {
            position: relative;
            top: initial;
            left: initial;
            transform: none;
        }
    }


}
