##### CABECERAS - INICIO #####

<IfModule mod_headers.c>

    # Restricción de enmarcado (establece dónde puede ser puesto este sitio en un iframe)
	Header set X-Frame-Options "SAMEORIGIN"

    # Obliga a que el navegador no cargue un elemento a menos que el MIME haya sido declarado correctamente
	Header set X-Content-Type-Options "nosniff"

    # X-XSS-Protection
    Header set X-XSS-Protection "1; mode=block"

    # Permitir dominios cruzados y cualquier cabecera
    Header set Access-Control-Allow-Origin "*"
    Header set Access-Control-Allow-Headers "*"

    # Forzar HSTS a 44 semanas
    <If "%{HTTP_HOST} != 'localhost'">
        Header set Strict-Transport-Security "max-age=26611200; includeSubDomains; preload"
    </If>

    # Configurar política de contenido
    Header set Content-Security-Policy "default-src https: data: blob: 'self' 'unsafe-inline' https://fonts.googleapis.com https://fonts.gstatic.com https://api.mapbox.com https://twemoji.maxcdn.com; script-src https: 'self' 'unsafe-inline' https://twemoji.maxcdn.com; object-src 'none'"

</IfModule>

##### CABECERAS - FIN #####

##### REESCRITURA - INICIO #####

#Activar redirección para el funcionamiento de las rutas
RewriteEngine on

# Redirect HTTP to HTTPS
RewriteCond %{HTTP_HOST} !=localhost
RewriteCond %{HTTPS} off
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect HTTPS to HTTP
##RewriteCond %{HTTP:X-Forwarded-Proto} =https
##RewriteRule ^(.*)$ http://%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

# Redirect www to non-www
##RewriteCond %{HTTP_HOST} ^www\.(.*)$ [NC]
##RewriteRule ^(.*)$ http://%1/$1 [R=301,L]

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . index.php [L]

#Servido personalizado de archivos estáticos y manejo de caché
#Para activar el manejo de caché del archivos estáticos de PiecesPHP mantenga descomentadas las
#siguientes dos líneas, de lo contrario coméntelas
RewriteCond %{REQUEST_URI} \.(js|js|css|ico|png|jpg|jpeg|webp|gif|swf|mp3|mp4|csv|pdf|woff2|woff|ttf|eot)$
RewriteRule . index.php [L]

##### REESCRITURA - FIN #####

##### CONTROL DE ACCESO - INICIO #####

#Desactivar el listado de directorios
Options -Indexes

#Prohibir acceso a algunos archivos
<FilesMatch "\.(sass|scss|htaccess|php|gitignore)$">
	<IfVersion > 2.4>
		Deny from All
	</IfVersion>
	<IfVersion <= 2.4>
		Require all denied
	</IfVersion>
</FilesMatch>

#Permitir acceso php solo a index.php
<FilesMatch "^index.php$">
	<IfVersion > 2.4>
		Allow from All
	</IfVersion>
	<IfVersion <= 2.4>
		Require all granted
	</IfVersion>
</FilesMatch>

##### CONTROL DE ACCESO - FIN #####

##### PROCESAMIENTO - INICIO #####

<IfModule mod_deflate.c>
AddOutputFilterByType DEFLATE image/*
AddOutputFilterByType DEFLATE text/plain
AddOutputFilterByType DEFLATE text/html
AddOutputFilterByType DEFLATE text/xml
AddOutputFilterByType DEFLATE text/shtml
AddOutputFilterByType DEFLATE text/css
AddOutputFilterByType DEFLATE application/xml
AddOutputFilterByType DEFLATE application/xhtml+xml
AddOutputFilterByType DEFLATE application/rss+xml
AddOutputFilterByType DEFLATE application/javascript
AddOutputFilterByType DEFLATE application/x-javascript
AddOutputFilterByType DEFLATE application/pdf
</IfModule> 

##### PROCESAMIENTO - FIN #####
