.#{$globalClassPcs}.container-sidebar {
    display: grid;
    grid-template-columns: 300px auto;
    font-size: 1rem;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    padding-top: $topbarHeight;

    >.content {
        position: relative;
        padding: 2rem 3rem 8rem 5rem;
        overflow-y: auto;
        overflow-x: hidden;

        table {

            &,
            & * {
                word-break: initial !important;
            }
        }
    }

    >.no-padding {
        padding: 0;
    }

    @media (max-width: 800px) {
        grid-template-columns: 100%;
        row-gap: 2rem;
        padding-top: $topbarHeightMobile;

        >.content {
            padding: 1rem 1rem 0rem 1rem;
        }

    }
}
