.#{$globalClassPcs}.sidebar-toggle {

    display: none;

    i.icon {
        font-size: 35px;
        line-height: 40px;
        padding: 0px;
        margin: 0px;
    }

    @media (max-width: 800px) {
        display: block;
        position: fixed;
        top: 5px;
        left: 5px;
        z-index: 200;
        font-size: 2.5rem;
        padding: 1px 0px 5px 0px;
        background-color: var(--main-brand-color);
        color: var(--color-text-over-main-brand-color);
        cursor: pointer;
        transition: 0.5s ease color, 1s ease top, 1s ease left;

        &.active {
            background-color: var(--second-brand-color);
            color: var(--color-text-over-main-brand-color);
            z-index: 400;
        }

        &.active {
            top: 15px;
        }
    }
}

.#{$globalClassPcs}.sidebar {

    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: max-content auto auto;
    justify-content: center;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    box-shadow: 0px 3px 6px rgba(112, 112, 112, 0.149);
    background-color: $sidebarBackgroundColor;
    overflow-y: auto;
    overflow-x: hidden;

    .logo {

        .image {
            display: flex;
            flex: 0 0 auto;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            text-align: center;
            width: 160px;
            height: 160px;
            margin: 1rem auto 0.5rem auto;

            &.round {
                border-radius: 100%;
                overflow: hidden;
            }
        }

        .text {
            max-width: 90%;
            margin: 0 auto pxToRem(24) auto;
            font-family: $fontPublicSans;
            font-weight: $fwMedium;
            font-size: pxToRem(11);
            line-height: pxToRem(11+5);
            text-transform: uppercase;
            text-align: center;
            color: var(--main-brand-color);
        }
    }

    .links {

        >.group {

            margin: 0px 0px 5px 0px;
            padding: 0px;
            list-style: none;
            transition: 0.8s height ease;

            &.active,
            &[current] {
                .title-group {
                    background-color: $sidebarBackgroundItemHover;
                    color: $sidebarColorActive;
                    border-left-color: var(--main-brand-color);
                }
            }

            .title-group {

                display: grid;
                grid-template-columns: 3.8rem auto;
                align-items: center;
                margin-top: 0;
                margin-left: 2px;
                margin-bottom: 0;
                padding: 0.5rem;
                padding-left: 1.5em;
                padding-right: 0px;
                min-height: 50px;
                transition: 0.8s color ease, 0.8s background-color ease, 0.5s border-color ease;
                font-family: $fontPublicSans;
                font-size: pxToRem(18);
                font-weight: $fwMedium;
                line-height: pxToRem(18+5);
                text-decoration: none;
                color: $sidebarColor;
                cursor: pointer;
                background-color: transparent;
                border-left: transparent solid 4px;

                &.current {
                    &.as-link {
                        cursor: default;
                        font-weight: 600;
                    }
                }

                &:hover {
                    background-color: $sidebarBackgroundItemHover;
                    color: $sidebarColorActive;
                    border-left-color: var(--main-brand-color);
                }

                i {
                    font-size: 1.4rem;
                    margin-right: 1.3rem;
                    position: relative;
                    top: 2px;
                    color: $sidebarColor2;
                }

                >span,
                >a span {
                    display: inline-block;
                    width: 100%;
                    padding: 0px 5px
                }

                a:active {
                    font-weight: 900;
                }

                a:hover {
                    text-decoration: none;
                }

                a:visited {
                    font-weight: 900;
                }
            }

            .items {

                display: none;
                font-size: 1rem;
                line-height: 2rem;

                >li {
                    padding: 0px;
                    padding-left: 4rem;
                }

                ul {
                    margin: 0px;
                    padding: 0px;
                    padding-left: 0;
                    list-style: none;
                    line-height: 100%;
                }

                li {

                    position: relative;
                    margin: 0px;
                    padding: 0px;
                    list-style: none;

                    &::before {
                        position: absolute;
                        top: 0px;
                        left: 0px;
                        z-index: 1;
                        display: block;
                        content: ' ';
                        width: 0px;
                        height: 100%;
                        background-color: var(--main-brand-color);
                        transition: 0.5s width ease;
                    }

                    .item {

                        position: relative;
                        z-index: 2;
                        display: block;
                        padding: 0px 5px;
                        font-family: $fontPublicSans;
                        font-size: pxToRem(15);
                        font-weight: $fwMedium;
                        line-height: pxToRem(15+5);
                        color: $sidebarColor2;
                        padding: 1rem 0px 1rem 50px;
                        transition: 0.5s all ease;

                        &:active {
                            font-weight: 900;
                        }

                        &:hover,
                        &.current,
                        &.active {
                            text-decoration: none;
                            color: white;
                        }

                        &.current {
                            background-color: var(--main-brand-color);
                        }

                    }

                    &:hover {
                        &::before {
                            width: 100%;
                        }
                    }
                }
            }

            &.no-icon {

                .title-group {
                    grid-template-columns: auto;
                    padding-left: 0.5em;
                }

            }
        }
    }

    .footer-sidebar {

        text-align: center;
        width: 245px;
        margin: 4rem auto 20px auto;
        align-self: flex-end;
        text-align: center;

        >span {
            display: block;
            font-family: $fontPublicSans;
            font-weight: $fwBold;
            font-size: pxToRem(11);
            line-height: pxToRem(11+5);
            color: #1B1C1D;
        }

        img {
            margin-top: 1rem;
            width: 120px;
        }
    }

    @media (max-width: $sidebarBreakPoint) {
        @keyframes crecer {
            0% {
                height: 0%;
            }

            100% {
                height: 100%;
            }
        }

        display: none;
        padding-top: 10px;

        .logo {
            display: block;
        }

        &.overlay {
            animation: crecer 0.5s ease;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            overflow: auto;
            z-index: 300;
            padding-bottom: 10px;

            .footer-sidebar {
                position: static;
                bottom: initial;
                left: initial;
                transform: none;
                text-align: center;
                margin-top: 50px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
