.#{$globalClassPcs}.sidebar-toggle {
    display: none;
    font-family: $fontFamilyFirst;

    i.icon {
        font-size: 30px;
        line-height: 30px;
        padding: 0px;
        margin: 0px;
    }

    @media (max-width: 800px) {
        display: block;
        position: fixed;
        top: 5px;
        left: 5px;
        z-index: 200;
        font-size: 2.5rem;
        color: $toggleMenuColor;
        cursor: pointer;
        transition: 0.5s ease color, 1s ease top, 1s ease left;

        &:hover {
            color: transparentize($toggleMenuColor, 0.5);
        }

        &.active {
            color: $toggleMenuColorActive;
            z-index: 400;
        }

        &.active {
            top: 15px;
        }
    }
}

.#{$globalClassPcs}.logo-sidebar-desktop {

    position: fixed;
    top: 10px;
    left: 0px;
    width: 300px;
    height: 200px;
    z-index: 2;
    background-color: var(--bg-color);

    .image {
        display: flex;
        flex: 0 0 auto;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        align-content: center;
        padding-bottom: 1rem;
        text-align: center;
        width: 150px;
        height: 150px;
        margin: 0 auto 1rem auto;
        border-radius: 100%;
        background-color: white;

        img {
            max-width: 80%;
        }
    }

    .text {
        text-transform: uppercase;
        max-width: 90%;
        font-size: 0.8rem;
        text-align: center;
        margin: 0 auto 1rem auto;
        color: white;
    }

    @media (max-width: 800px) {
        display: none;
    }
}


.#{$globalClassPcs}.sidebar {

    display: block;
    margin: 0px 0px 0px 0px;
    padding: 140px 0px 0px 0px;
    border-right: 1px rgba(0, 0, 0, 0.14) solid;
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.2);
    background-color: var(--bg-color);
    overflow-y: auto;
    overflow-x: hidden;

    .logo {

        display: none;

        .image {
            display: flex;
            flex: 0 0 auto;
            flex-wrap: wrap;
            justify-content: center;
            align-items: center;
            align-content: center;
            padding-bottom: 1rem;
            text-align: center;
            width: 150px;
            height: 150px;
            margin: 0 auto 1rem auto;
            border-radius: 100%;
            background-color: white;

            img {
                max-width: 80%;
            }
        }

        .text {
            text-transform: uppercase;
            max-width: 90%;
            font-size: 0.8rem;
            text-align: center;
            margin: 0 auto 1rem auto;
            color: white;
        }
    }

    .links {

        font-family: $fontFamilyFirst;

        >.group {

            font-family: $fontFamilyFirst;
            margin: 0px 0px 5px 0px;
            padding: 0px;
            list-style: none;
            transition: 0.8s height ease;

            .title-group {

                display: grid;
                grid-template-columns: 3.8rem auto;
                align-items: center;
                margin-top: 0;
                margin-bottom: 0;
                padding: 0.5rem;
                padding-left: 2.5em;
                padding-right: 0px;
                transition: 0.8s color ease, 0.8s background-color ease;
                text-decoration: none;
                cursor: pointer;
                color: $sidebarColor;
                text-decoration: none;
                background-color: rgba(255, 255, 255, 0.1);

                &.current {
                    &.as-link {
                        cursor: default;
                        font-weight: 600;
                    }
                }

                &:hover {
                    background-color: transparent;

                    a {
                        color: transparentize($sidebarColor, 0.6) !important;
                    }
                }

                i {
                    font-size: 1.4rem;
                    margin-right: 1.3rem;
                    position: relative;
                    top: 2px;
                }

                >span,
                >a span {
                    display: inline-block;
                    width: 100%;
                    padding: 0px 5px;
                    font-size: 1rem;
                }

                a:active {
                    font-weight: 900;
                }

                a:hover {
                    text-decoration: none;
                }

                a:visited {
                    color: $colorFourth;
                    font-weight: 900;
                }
            }

            .items {

                display: none;
                font-size: 1rem;
                line-height: 2rem;

                >li {
                    padding: 0px;
                    padding-left: 4rem;
                }


                ul {
                    margin: 0px;
                    padding: 0px;
                    padding-left: 0;
                    list-style: none;
                    line-height: 100%;
                }

                li {
                    margin: 0px;
                    padding: 5px 0px 5px 50px;
                    list-style: none;
                    background-color: rgba(255, 255, 255, 0.1);

                    &:first-child {
                        border-top: 1px white solid;
                    }

                    &:last-child {
                        border-bottom: 1px white solid;
                    }

                    &:nth-child(even) {
                        background-color: transparent;
                    }

                    .item {

                        display: block;
                        padding: 0px 5px;
                        font-size: 1rem;
                        color: $sidebarColor;

                        &:active {
                            font-weight: 900;
                        }

                        &:hover {
                            text-decoration: none;
                            color: transparentize($sidebarColor, 0.6);
                        }

                        &:visited {
                            color: $sidebarColor;
                            font-weight: 900;
                        }

                        &.current,
                        &.active {
                            border-bottom: 0.5px dashed;
                            padding-bottom: 0.5px;
                            max-width: max-content;
                        }

                    }
                }
            }

            &.no-icon {

                .title-group {
                    grid-template-columns: auto;
                    padding-left: 0.5em;
                }

            }

            &.active,
            &[current] {
                .title-group {
                    background-color: transparent;
                    color: $sidebarColor;
                }
            }
        }
    }

    .logo-developed {
        text-align: center;
        width: 150px;
        height: 200px;
        margin: 30px auto 80px auto;
        color: $sidebarColorLogoDeveloped;
    }

    @media (max-width: 800px) {
        @keyframes crecer {
            0% {
                height: 0%;
            }

            100% {
                height: 100%;
            }
        }

        display: none;
        padding-top: 10px;

        .logo {
            display: block;
        }

        &.overlay {
            animation: crecer 0.5s ease;
            display: block;
            position: fixed;
            top: 0;
            left: 0;
            z-index: 100;
            width: 100%;
            height: 100%;
            overflow: auto;
            background-color: var(--bg-color);
            z-index: 300;
            padding-bottom: 10px;

            .logo-developed {
                position: static;
                bottom: initial;
                left: initial;
                transform: none;
                text-align: center;
                margin-top: 50px;
                margin-left: auto;
                margin-right: auto;
            }
        }
    }
}
