.#{$globalClassPcs}.topbar {

    position: relative;
    z-index: 1;
    background-color: $sidebarBgColor;
    display: grid;
    grid-template-columns: 300px auto;
    justify-content: flex-end;
    margin: 0px;
    padding-top: 0px;
    padding-right: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
    height: 70px;
    max-height: 70px;

    .blank {
        position: relative;
    }

    .user-info {

        font-family: $fontFamilyFirst;
        $avatar-size: 50px;
        display: grid;
        grid-template-columns: $avatar-size auto;
        justify-content: left;
        align-items: center;
        align-content: center;
        padding: 0.5rem 1rem;

        .text {
            padding: 0.5rem;
            padding-bottom: 0;

            .main {
                font-size: 15.4px;
                line-height: 17px;
                color: $topbarColorUserInfoMain;
                font-weight: 500;
            }

            .second {
                font-size: 0.8rem;
                color: $topbarColorUserInfoSecond;
            }
        }

        .avatar {
            margin: 0 auto;
            width: $avatar-size;
            height: $avatar-size;
            background-color: $colorFirst;
            border-radius: 100%;
            border: 1px solid $colorFirst;

            img {
                max-width: 100%;
                border-radius: 100%;
            }
        }

        .info-menu {
            position: absolute;
            display: none;
        }
    }

    @media screen and (max-width:800px) {
        .blank {
            display: none;
        }

        .user-info {
            justify-self: flex-end;
        }

        grid-template-columns: 100%;

    }
}
