.#{$globalClassPcs}.topbar-options {

    $w: 320px;
    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 100;
    width: 0px;
    height: 100vh;
    overflow-y: auto;
    overflow-x: hidden;
    background-color: white;
    padding: 2.5rem 0rem 2rem 0rem;

    >* {
        opacity: 0;
    }

    @keyframes side-in {
        0% {
            width: 0px;
        }

        100% {
            width: $w;
        }
    }

    @keyframes side-out {
        0% {
            width: $w;

            >* {
                opacity: 1;
            }
        }

        100% {
            width: 0px;

            >* {
                opacity: 0;
            }
        }
    }

    @keyframes opacity-in {
        0% {
            opacity: 0;
        }

        100% {
            opacity: 1;
        }
    }

    @keyframes opacity-out {
        0% {
            opacity: 1;
        }

        100% {
            opacity: 0;
        }
    }

    &.deactive {
        animation: side-out 0.6s ease;

        >* {
            animation: opacity-out 0.5s ease;
        }

    }

    &.active {
        animation: side-in 0.6s ease;
        width: $w;

        >* {
            opacity: 1;
            animation: opacity-in 0.5s ease;
        }
    }

    &.user-options {

        .user-info {

            padding: 0rem 1.5rem;
            margin-bottom: 3rem;

            .avatar {

                position: relative;
                display: block;
                margin: 0px auto;
                width: 70px;
                height: 70px;
                margin-bottom: 2rem;

                img {
                    border-radius: 100%;
                }

                >.icon {
                    position: absolute;
                    top: 50%;
                    left: 50%;
                    width: 100%;
                    height: 100%;
                    transform: translate(-50%, -50%);
                    display: grid;
                    grid-template-columns: auto;
                    justify-content: center;
                    align-items: center;
                    background-color: var(--main-brand-color);
                    border-radius: 100%;

                    i.icon {
                        margin: 0;
                        padding: 0;
                        font-size: 45px;
                        color: var(--color-text-over-main-brand-color);
                    }
                }

            }

            .names {
                font-family: $fontPublicSans;
                font-weight: $fwSemiBold;
                font-size: pxToRem(18);
                line-height: pxToRem(18+5);
                color: var(--main-brand-color);
                text-transform: uppercase;
                text-align: center;
                margin-bottom: 1rem;

                >span {
                    display: block;
                }
            }

            .text {

                font-family: $fontPublicSans;
                font-weight: $fwRegular;
                font-size: pxToRem(15);
                line-height: pxToRem(15+5);
                color: black;
                text-align: center;

                >*:not(:last-child) {
                    margin-bottom: 0.5rem;
                }

                .meta {
                    font-size: pxToRem(14);
                    line-height: pxToRem(14+5);
                    color: #707070;
                }
            }
        }

        >.items {

            display: grid;
            grid-template-columns: 100%;

            >.item,
            a.item {

                display: grid;
                grid-template-columns: auto auto;
                justify-content: flex-start;
                align-items: center;
                column-gap: 1rem;
                padding: 1rem 0rem 1rem 1.5rem;
                text-decoration: none;
                font-family: $fontPublicSans;
                font-weight: $fwRegular;
                font-size: pxToRem(18);
                line-height: pxToRem(18+5);
                border-left: transparent solid 4px;
                transition: 0.5s all ease;

                &:hover,
                &:active,
                &.current {
                    background-color: var(--main-brand-color-opacity);
                    color: var(--main-brand-color);
                    border-left-color: var(--main-brand-color);
                }

                .figure {
                    font-size: 25px;
                    color: var(--main-brand-color);
                }

                .text {
                    color: #1B1C1D;
                }
            }

        }

    }

    &.admin-options {

        padding-top: 5rem;

        >.items {

            display: grid;
            grid-template-columns: 100%;

            >.section-title {
                position: relative;
                font-family: $fontPublicSans;
                font-weight: $fwSemiBold;
                font-size: pxToRem(18);
                line-height: pxToRem(18+5);
                color: var(--main-brand-color);
                padding: 1rem 0rem 0.5rem 2rem;

                &:not(:first-child) {
                    margin-top: 2rem;
                }

                &::after {
                    position: absolute;
                    top: 0px;
                    left: 2rem;
                    display: block;
                    content: ' ';
                    width: 100px;
                    height: 2px;
                    background-color: var(--main-brand-color);
                }
            }

            >.item,
            a.item {

                display: grid;
                grid-template-columns: auto auto;
                justify-content: flex-start;
                align-items: center;
                column-gap: 1rem;
                padding: 0.5rem 0rem 0.5rem 1.5rem;
                text-decoration: none;
                font-family: $fontPublicSans;
                font-weight: $fwRegular;
                font-size: pxToRem(15);
                line-height: pxToRem(15+5);
                border-left: transparent solid 4px;
                transition: 0.5s all ease;

                &:hover,
                &:active,
                &.current {
                    background-color: var(--main-brand-color-opacity);
                    color: var(--main-brand-color);
                    border-left-color: var(--main-brand-color);
                }

                .figure {
                    font-size: 18px;
                    color: var(--main-brand-color);
                }

                .text {
                    color: #1B1C1D;
                }
            }

        }

    }

    >.close {
        position: absolute;
        top: 15px;
        right: 15px;
        font-size: 30px;
        color: var(--main-brand-color);
        cursor: pointer;
    }
}

.#{$globalClassPcs}.topbar-toggle {

    position: absolute;
    top: 0px;
    right: 0px;
    z-index: 99;
    width: 52px;
    height: 82px;
    border-radius: 0px 0px 26px 26px;
    cursor: pointer;

    &.user-options {
        right: 72px;
        background-color: var(--main-brand-color);

        &.is-unique {
            right: 12px;
        }

        >.icon {
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            align-content: center;
            text-align: center;
            position: absolute;
            bottom: 3px;
            left: 50%;
            transform: translateX(-50%);
            width: 45px;
            height: 45px;
            background-color: white;
            color: var(--main-brand-color);
            border-radius: 100%;
            font-size: pxToRem(20);

            >i.icon {
                margin: 0;
                padding: 0;
            }
        }
    }

    &.admin-options {

        background-color: var(--second-brand-color);
        right: 12px;

        >.icon {
            display: grid;
            grid-template-columns: auto;
            justify-content: center;
            align-content: center;
            text-align: center;
            position: absolute;
            bottom: 3px;
            left: 50%;
            transform: translateX(-50%);
            width: 45px;
            height: 45px;
            color: white;
            border-radius: 100%;
            font-size: pxToRem(20);

            >i.icon {
                margin: 0;
                padding: 0;
            }
        }
    }

}
