//Generales
$color-first: rgb(2, 61, 86);
$color-second: rgb(40, 100, 133);
$color-third: rgb(150, 150, 150);
$color-fourth: rgb(70, 70, 70);
$color-fifth: rgb(30, 30, 30);
$color-first-over: white;

$text-header-1:  #1e1e1e;
$text-header-2: #286485;
$text-header-3: #464646;
$text-quote: $color-third;

//Sidebar
$bg-color-sidebar: rgb(100, 100, 100);
$color-sidebar: rgb(220, 220, 220);
$color-sidebar-logo-developed: rgb(200, 200, 200);
$color-sidebar-user-info-main: rgb(240, 240, 240);
$color-sidebar-user-info-second: rgb(200, 200, 200);
