//──── Media queries ─────────────────────────────────────────────────────────────────────
$rsLarge: 1550px;
$rsLarge2: 1250px;
$rsLarge3: 1200px;
$rsMedium: 1000px;
$rsTablet: 780px;
$rsMobile: 480px;

//──── Fonts ─────────────────────────────────────────────────────────────────────────────
$fontPublicSans: 'Public Sans',
sans-serif;

// Weights
$fwHairLine: 100;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwExtraBold: 800;
