//──── Media queries ─────────────────────────────────────────────────────────────────────
$rsMedium: 1000px;
$rsTablet: 780px;
$rsMobile: 480px;

//──── Fonts ─────────────────────────────────────────────────────────────────────────────

// Weights
$fwHairLine: 100;
$fwLight: 300;
$fwRegular: 400;
$fwMedium: 500;
$fwSemiBold: 600;
$fwBold: 700;
$fwExtraBold: 800;
