@import '../../../../../../statics/core/sass/includes/variables_app_base';
@import '../../../../../../statics/core/sass/includes/functions_app_base';
@import './report-design';

.module-view-container {
}
